#filter {
  a.filters {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;

    .icon {
      float: right;
    }
  }
}

.filterbutton {
  display: none;

  @media screen and (max-width:$mobile-bp) {
    width: 48%;
    height: 35px;
    background: white;
    border: 1px solid #dcdcdc;
    display: flex !important;
    align-items: center;
    justify-content: center;
    float: left;
    background-image: url(/assets/image/ico-filter.svg)!important;
    background-repeat: no-repeat!important;
    background-position: 20px!important;
    background-size: 20px!important;

    svg {
      position: relative;
      left: -15px;
    }
  }
}

.btn_filtrar {
  display: none;

  @media screen and (max-width:$mobile-bp) {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 20px;
    color: #444;
    background-color: #e7b94f;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
  }
}

.ordenar_por {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width:$mobile-bp) {
    width: 48%;
    float: right;
    background-image: url(/assets/image/ico-order.svg)!important;
    background-repeat: no-repeat!important;
    background-position: 20px!important;
    background-size: 20px!important;
  }

  p {
    margin-bottom: 0;
    margin-right: 10px;

    @media screen and (max-width:$mobile-bp) {
      display: none;
    }
  }

  .dropdownorder {
    border-radius: 0 !important;
    width: auto;
    height: 35px;
    padding: 10px;

    @media screen and (max-width:$mobile-bp) {
      width: 100%;
      text-align: center;

      .icon {
        display: none;
      }
    }

    .text {
      svg {
        display: none;
        
        @media screen and (max-width:$mobile-bp) {
          display: block;
          width: 20px;
          height: auto;
        }
      }
    }
  }
}

#list {
  padding-top: 20px;
  border-top: 2px solid #dcdcdc;
}

#viewlist,
#viewgrid,
.filterbar,
#filtrosClose {
  display: none;
}

.filtros {
  .ui.dropdown {
    z-index: 0;

    .menu {
      z-index: 10;
    }
  }

  .ui.accordion {
    .title {
      font-weight: bold;
      font-size: 16px;
      color: black;
      padding: 15px;
      border-top: 1px solid #dcdcdc;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      margin-top: 20px;

      &:first-child {
        margin-top: 10px;
      }

      &.active {
        border-bottom: 0;
      }

      .icon {
        float: right;
        margin-top: 3px;
      }

      >span {
        word-break: break-word;
        max-width: 120px;
        display: inline-block;
      }
    }

    .content {
      padding-left: 15px !important;
      padding-right: 15px !important;
      border-bottom: 1px solid #dcdcdc;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      >.form {
        max-height: 450px;
        overflow-x: hidden;

        @media screen and (max-width:$mobile-bp) {
          max-height: 300px;
        }
      }

      .checkbox {
        &.checked {
          label {
            &:before {
              background-image: url(/assets/image/icones/ico-checked.png);
              background-repeat: no-repeat;
              background-position: 1px;
              background-size: 80%;
            }
          }
        }
      }
    }
  }

  button.close {
    display: none;
  }
}

.filterColumn {
  @media screen and (max-width: $mobile-bp) {
    display: none !important;
  }

  &.ativo {
    @media screen and (max-width: $mobile-bp) {
      display: block !important;
    }
  }
}

#filtros {

  @media screen and (max-width: $mobile-bp) {
    display: none !important;
  }

  .row {

    @media screen and (max-width: $mobile-bp) {
      padding: 0px;
    }
  }

  .filterbar {

    @media screen and (max-width: $mobile-bp) {
      height: 45px;
      color: #ffffff;
      background: $ascent-5-color;
      width: 100vw;
      margin: -1em -1em 20px -1em !important;
      vertical-align: middle;
      line-height: 45px;
    }

    h3 {

      @media screen and (max-width: $mobile-bp) {
        line-height: 45px;
        float: left;
        width: calc(100vw - 60px);
        position: absolute;
        left: 10px;
      }
    }

    .button {
      @media screen and (max-width: $mobile-bp) {
        float: right;
        height: 45px;
        width: 45px;
        margin: 0px !important;
        border-radius: 0px;
        font-size: 20px;
        padding: 10px;
        margin-right: -4px !important;
      }
    }
  }
}

#filtros.ativo {

  @media screen and (max-width: $mobile-bp) {
    background: #ffffff;
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    padding: 1em;
    width: 100%;
    display: inline-block !important;
    height: 100%;
    overflow-y: scroll;
  }
}



.groupList {

  .segment {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 2em 0px;
    border-bottom: 5px solid $primary-color;

    .item {
      padding-left: 1.5em;
      color: #666666 !important;
      font-size: 16px;

      h3 {
        font-size: 16px;
        margin: 0;
        font-weight: normal;
      }
    }
  }
}