﻿@model IEnumerable<DomainProduct.Entities.ProductImage>

<script>
    jQuery(document).ready(function ($) {
        slickGallery();
    });
    function checkImagesSize(imageQuantity) {
        var images = $(".car-gallery .ui.image").length;
        if (images >= imageQuantity) {
            return imageQuantity;
        } else {
            return images;
        }
    }

    function destroyCarousel() {
        $('.car-gallery').slick('destroy');
    }

    function slickGallery() {
        $('.car-gallery').slick({
            //prevArrow: '<a class="slick-prev"></a>',
            //nextArrow: '<a class="slick-next"></a>',
            arrows:false,
            dots: false,
            slidesToShow: 4,
            mobileFirst:true,
            useTransform:false,
            infinite:false,
            vertical: true
        });
    }
</script>
<div class="car-gallery thumbnails" data-qtd="4" data-vertical="true">
    @foreach (var item in Model)
    {
        <a href="@(item.ImageHighResolution != null ? item.ImageHighResolution : "#" )" data-standard="@item.ImageDefault">
            @* HREF = Imagem ZOOMO / Data-starndard = Imagem Sem zoom*@
            <img @*src="/assets/image/loading.svg" data-*@src="@item.ImageDefault" onerror="imgError(this)" class="ui image centered"/>
        </a>
        
    }
</div>
<div class="ui divider hidden"></div>
