﻿@model List<DomainProduct.Entities.Reference>

@{
    DomainProduct.Entities.Sku SKUPadrao = (DomainProduct.Entities.Sku)TempData["SKUPadraoVariacao"];
    List<DomainProduct.Entities.Variation> variacoesSelecionadas = new List<DomainProduct.Entities.Variation>();
    TempData["Order"] = 0;
}

@if (Model.Count > 0)
{
    <div class="column">   
        @foreach (var item in Model.OrderBy(o => o.OrdinationOfReferences).ToList())
        {
            TempData["TotalReferencias"] = Model.Count();

            var type = ((LojaCorp.Controllers.Product.ProductController)this.ViewContext.Controller).GetTypeVariation(item.Variations);


            <span class="titleVariation">@item.Name</span>

            if (type == LojaCorp.Control.VariationsType.COR)
            {
                @Html.Partial("~/Views/Product/Details/_VariationsColor.cshtml", item)
            }
            else if (type == LojaCorp.Control.VariationsType.IMAGEM)
            {
                @Html.Partial("~/Views/Product/Details/_VariationsImage.cshtml", item)
            }
            else if (type == LojaCorp.Control.VariationsType.DROPDOWN)
            {
                @Html.Partial("~/Views/Product/Details/_VariationsDropDown.cshtml", item)
            }
            else
            {
                @Html.Partial("~/Views/Product/Details/_VariationsCheckBox.cshtml", item)
            }

            if (SKUPadrao != null)
            {
                foreach (var itemListaVariacao in item.Variations)
                {
                    foreach (var variacaoSKU in SKUPadrao.Variations)
                    {
                        if (itemListaVariacao.IdVariation == variacaoSKU.IdVariation)
                        {
                            variacoesSelecionadas.Add(itemListaVariacao);
                        }
                    }
                }
                ViewBag.VariacoesSelecionadas = variacoesSelecionadas;
            }
            
        }
        
    </div>
}



