﻿@model DomainProduct.Entities.ProductDetail
@{
    DomainProduct.Entities.Sku SKUPadrao = new DomainProduct.Entities.Sku();
    if (TempData["SKUPadrao"] != null)
    {
        SKUPadrao = (DomainProduct.Entities.Sku)TempData["SKUPadrao"];
    }
    string ListaImagens = string.Empty;
    string ListaSKU = string.Empty;
    string AvailableReferences = string.Empty;
    string variacaoSelecionada = string.Empty;
    string skuSelecionado = string.Empty;

    if (Model.ProductImages != null)
    {
        ListaImagens = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ProductImages);
    }

    if (Model.SKUs != null)
    {
        ListaSKU = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.SKUs);
    }

    if (Model.AvailableReferences != null)
    {
        AvailableReferences = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AvailableReferences);
    }

    if (Model.AvailableReferences != null && Model.AvailableReferences.Count > 0)
    {
        foreach (var referencias in Model.AvailableReferences.OrderBy(o => o.OrdinationOfReferences).ToList())
        {
            foreach (var variacoes in referencias.Variations)
            {
                if (SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation).Count > 0)
                {
                    var referencia_selecionada = SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation);
                    variacaoSelecionada += referencias.IdReference.ToString() + '-' + referencia_selecionada.FirstOrDefault().IdVariation.ToString() + ',';
                }
            }
        }

        string character = variacaoSelecionada.Substring(variacaoSelecionada.Length - 1);
        if (character == ",")
        {
            variacaoSelecionada = variacaoSelecionada.Remove(variacaoSelecionada.Length - 1);
        }
    }


    if (SKUPadrao.InstallmentMax == null)
    {
        SKUPadrao.InstallmentMax = new DomainProduct.Entities.InstallmentMax();
        SKUPadrao.InstallmentMax.MaxNumber = 0;
        SKUPadrao.InstallmentMax.Value = 0;
    }

    List<DomainProduct.Entities.ProductRating> lista_avaliacoes_completa = new List<DomainProduct.Entities.ProductRating>();
    if (Model.ProductRatings.Count > 5)
    {
        lista_avaliacoes_completa.AddRange(Model.ProductRatings);
        lista_avaliacoes_completa.RemoveRange(0, 5);
    }

    //GRADE ABERTA B2C
    var hasOpenSku = ViewBag.HasOpenSku != null ? ViewBag.HasOpenSku : false;

    //OneClickMaxiPago
    var useOneClickMaxiPago = ViewBag.UseOneClickMaxiPago != null ? ViewBag.UseOneClickMaxiPago : false;

    List<DomainProduct.Entities.ProductImage> productFirstReferenceImages = new List<DomainProduct.Entities.ProductImage>();
    List<DomainProduct.Entities.ProductImage> productImages = new List<DomainProduct.Entities.ProductImage>();
    var classSkus = "nine";

    if (hasOpenSku)
    {
        classSkus = Model.SKUs != null ? "seven" : "nine";
        productImages = Model.ProductImages;
    }
    else
    {
        if (Model.AvailableReferences != null)
        {
            foreach (var item in Model.ProductImages)
            {
                int flag = 0;
                if (item.Variacao_ids != null)
                {
                    for (int i = 0; i < item.Variacao_ids.Length; i++)
                    {
                        for (int j = 0; j < SKUPadrao.Variations.Count(); j++)
                        {
                            if (item.Variacao_ids[0] == SKUPadrao.Variations[j].IdVariation)
                            {
                                productFirstReferenceImages.Add(item);
                            }
                            if (item.Variacao_ids[i] == SKUPadrao.Variations[j].IdVariation)
                            {
                                flag++;
                            }
                        }
                    }
                }
                if (flag == SKUPadrao.Variations.Count())
                {
                    productImages.Add(item);
                }
            }

            if (productImages.Count == 0)
            {
                productImages = productFirstReferenceImages;
            }
            if (productImages.Count == 0)
            {
                productImages = Model.ProductImages;
            }
            if (productImages.Count == 0)
            {
                Model.ProductImages.RemoveAll(item => item.Variacao_ids == null);
            }
        }
        else
        {
            productImages = Model.ProductImages;
        }
    }
}

<script>
    var total_avaliacoes_produto = @(Model.ProductRatings != null ? Model.ProductRatings.Count : 0);
    var lista_avaliacao_produto = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(lista_avaliacoes_completa))); 
</script>
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumb.cshtml";
}
@section remarketing{
    <!-- Google Remarketing -->
    @Html.Action("GoogleRemarketing", "Common", new { origin = ViewContext.RouteData.Values["controller"] })
    <!-- End Google Remarketing -->
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
        }

        if (!String.IsNullOrEmpty(Model.MetaKeyWords))
        {
            <meta name="Keywords" content="@Model.MetaKeyWords">
        }
    }
}

@section breadcrumbs {
    <div class="ui two column centered grid stackable middle aligned">
        <div class="container">
            <div class="column">
                <div class="ui breadcrumb margin top medium">
                    <a class="section" href=""></a>

                    <!--COMEÇO FOREACH CATEGORIAS-->
                    @if (Model.Categories != null)
                    {
                        <a class="section" href="/">Home</a>
                        var _categoriaDefault = Model.Categories.Find(c => c.Default == true);
                        if (_categoriaDefault != null)
                        {
                            var _urlFriendly = "";
                            var _level = _categoriaDefault.Level.Substring(0, _categoriaDefault.Level.Length - 2);
                            List<DomainProduct.Entities.Category> _lstAuxCategories = new List<DomainProduct.Entities.Category>();
                            while (_level.Length >= 2)
                            {
                                var _auxCategory = Model.Categories.Find(c => c.Level == _level);
                                if (_auxCategory != null)
                                {
                                    _lstAuxCategories.Add(_auxCategory);
                                }
                                _level = _level.Substring(0, _level.Length - 2);
                            }
                            _lstAuxCategories.Add(_categoriaDefault);

                            foreach (var _auxCategory in _lstAuxCategories.OrderBy(c => c.Level.Length).ToList())
                            {
                                _urlFriendly = string.Concat("/categoria", _urlFriendly.Replace("/categoria", ""), _auxCategory.UrlFriendly.Replace("/categoria", ""));
                                <i class="right angle icon divider"></i>
                                <a class="section" href="@_urlFriendly">@_auxCategory.Name</a>
                            }
                        }
                    }
                    <!-- FIM FOREACH CATEGORIAS-->
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=656083874584141";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script src="https://apis.google.com/js/platform.js" async defer>
    { lang: 'pt-BR' }
</script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- COMEÇO - Váriaveis Produto Principal-->
<input type="hidden" id="produto-id" name="produto-id" value="@Model.IdProduct" />
<input type="hidden" id="produto-stock" name="produto-stock" value="@Model.Stock" />
<input type="hidden" id="produto-sku" name="produto-sku" value="@SKUPadrao.IdSku" />
<input type="hidden" id="produto-codigo" name="produto-codigo" value="@Model.Code" />
<input type="hidden" id="lista-imagens-slide" name="lista-imagens-slide" value="@ListaImagens" />
<input type="hidden" id="principal-total-variacoes" name="principal-total-variacoes" value="@(Model.AvailableReferences != null ? Model.AvailableReferences.Count() : 0) " />
<input type="hidden" id="principal-lista-sku" name="principal-lista-sku" value="@ListaSKU" />
<input type="hidden" id="principal-referencias-selecionadas" name="principal-referencias-selecionadas" value="@variacaoSelecionada" />
<input type="hidden" id="variacoesSelecionadas" value="" />
<input type="hidden" id="has-open-sku" value="@((hasOpenSku == true)? "true" : "false")" />
<input type="hidden" id="b2b" value="false" />


<!-- FIM - Váriaveis Produto Principal-->
<!-- COMEÇO - Váriaveis Produto Unitário-->
<input type="hidden" value="@Model.Price" id="preco-unidade" name="preco-unidade" />
<input type="hidden" value="@Model.PricePromotion" id="preco-promocao-unidade" name="preco-promocao-unidade" />
@if (Model.InstallmentMax != null)
{
    <input type="hidden" value="@Model.InstallmentMax.Value" id="parcela-maxima-unidade" name="parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.MaxNumber" id="qtd-parcela-maxima-unidade" name="qtd-parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.Description" id="pagamento-descricao" name="pagamento-descricao" />
}
<input type="hidden" value="@AvailableReferences" id="principal-produto-referecias" name="principal-produto-referecias" />
<input type="hidden" value="@ViewBag.DescontoBoleto" id="desconto_boleto" name="desconto_boleto" />
<!-- FIM - Váriaveis Produto Unitário-->
<div class="ui container" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="description" content="">
    <link itemprop="url" href="" rel="author" />
    <div class="ui grid stackable produto">

        <!--
        <div class="row product information one column">
            <div class="mobile-hide desktop-hide column">
                <h1 itemprop="name" class="nomeProduto mobile-hide" id="produto-nome">@Model.Name</h1>
                @if (Model.Brand != null)
                {
                    <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                }
                else
                {
                    <h5 itemprop="productBrand" class="marcaProduto"></h5>
                }
                <div class="ui two column grid">
                    <div class="column six wide mobile">
                        <h6 itemprop="productID" class="codProduto">@Model.Code</h6>
                    </div>
                    <div class="column ten wide mobile">
                        <div class="avaliacoes">
                            <div class="ui tiny star rating" data-rating="@Model.Rate.Value.ToString().Replace(",", ".")"></div>
                            @if (Model.ProductRatings != null)
                            {
                                if (Model.ProductRatings.Count() == 1)
                                {
                                    <span>1 avaliação</span>
                                }
                                else
                                {
                                    <span>@Model.ProductRatings.Count() avaliações</span>
                                }
                            }
                            else
                            {
                                <span>0 avaliações</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="row detalhes produto">
            <h1 itemprop="name" class="nomeProduto ui mobile only" id="produto-nome">@Model.Name</h1>

            <!-- FIM IMAGENS DO PRODUTO PRINCIPAL-->
            <div class="sixteen wide mobile @classSkus wide computer column padding bottom no" id="exibePartial">
                @Html.Partial("~/Views/Product/Details/_Slide.cshtml", productImages.ToList())
            </div>
            <!-- COMEÇO IMAGENS DO PRODUTO PRINCIPAL-->
            <div class="ui divider hidden"></div>
            <!-- COMEÇO INFORMAÇÕES DO PRODUTO-->
            <div class="sixteen wide mobile seven wide computer column padding top no infoProduto">
                <div class="ui grid">
                    <div class="row padding bottom no">
                        <div class="column">
                            <div class="row product information">
                                <div class="column ui attached segment">
                                    <h1 itemprop="name" class="nomeProduto mobile-hide" id="produto-nome">@Model.Name</h1>
                                    @if (@Model.Brand != null)
                                    {
                                        <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                                    }
                                    else
                                    {
                                        <h5 itemprop="productBrand" class="marcaProduto"></h5>
                                    }
                                    <div class="ui two column grid stackable">
                                        <div class="sixteen wide tablet two wide computer column">
                                            <h6 itemprop="productID" class="codProduto">@Model.Code</h6>
                                        </div>
                                        <div class="sixteen wide tablet fourteen wide computer column">
                                            <div class="avaliacoes">
                                                <div class="ui tiny star rating" data-rating="@Model.Rate.Value.ToString().Replace(",", ".")"></div>
                                                @if (Model.ProductRatings != null)
                                                {
                                                    if (Model.ProductRatings.Count() == 1)
                                                    {
                                                        <span>1 avaliação</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@Model.ProductRatings.Count() avaliações</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>0 avaliações</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--COMEÇO DICA DE COMPRA-->
                    <div id="dica_compra_partial">
                        @Html.Action("BuyingTips", "Product", new { productID = @Model.IdProduct, skuID = SKUPadrao != null ? SKUPadrao.IdSku : 0 })
                    </div>
                    <!--FIM DICA DE COMPRA-->
                    <div class="row product-grid padding top no">
                        <div class="column blocoInfo">
                            <div class="ui middle aligned margin bottom medium blocoValores">
                                @if (hasOpenSku && Model.SKUs != null && Session["EventList"] == null)
                                {
                                    //GRADE ABERTA B2C
                                    @Html.Partial("~/Views/Product/Details/_GradeSkuB2B.cshtml", Model, new ViewDataDictionary { { "useOneCLick", useOneClickMaxiPago }, { "isB2B", false }, { "hasOpenSku", hasOpenSku } });
                                }
                                else
                                {
                                    <!--COMEÇO VARIAÇÔES-->
                                    if (!Model.FlagExhausted)
                                    {
                                        @Html.Action("Variations", "Product", new { reference = @Model.AvailableReferences, skuPadrao = @SKUPadrao, ListaSku = Model.SKUs })
                                    }
                                    <!--FIM VARIAÇÔES-->

                                    if (Model.IsKit)
                                    {
                                        @Html.Partial("~/Views/Product/Details/_ProductsKit.cshtml", Model.KitProducts)
                                    }

                                    <div class="column ui attached segment border_custom">
                                        <span class="border"></span>
                                        <div class="ui grid">
                                            <div class="row stackable two column">
                                                <!--COMEÇO GRADE-->
                                                <div class="twelve wide computer sixteen wide tablet sixteen wide mobile column padding-bottom no text blocoPreco" itemprop="offers" id="block-price" itemscope="" itemtype="http://schema.org/Offer">
                                                    <div id="variacao-preco">
                                                        @if (Model.IsKit)
                                                        {
                                                            <div class="infoPrecoKit">
                                                                <span class="display block">Sub-Total: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.PricePromotion)))</span>
                                                                <span class="display block">Desconto do Kit: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.Discount)))</span>
                                                            </div>
                                                        }

                                                        @if (Model.HaveSku)
                                                        {
                                                            if (SKUPadrao.PricePromotion != null && SKUPadrao.PricePromotion > 0)
                                                            {
                                                                decimal dec = (decimal)@SKUPadrao.PricePromotion;
                                                                <span class="precoAntigo"><span>de: </span><span id="preco-antigo">@SKUPadrao.Price.ToString("C")</span><span> por</span></span>
                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec">@dec.ToString("C")</span>
                                                                <span class="infoPreco">
                                                                    @*<span>em</span>
                                                                    <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                    <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                                    <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>*@
                                                                    @if (ViewBag.DescontoBoleto > 0)
                                                                    {
                                                                        var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));

                                                                        <span>ou</span>
                                                                        <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                    }
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@SKUPadrao.Price">@SKUPadrao.Price.ToString("C")</span>
                                                                <span class="infoPreco">
                                                                    @*<span>em</span>
                                                                    <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                    <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                                    <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>*@
                                                                    @if (ViewBag.DescontoBoleto > 0)
                                                                    {
                                                                        var valor_final = (SKUPadrao.Price - ((SKUPadrao.Price / 100) * ViewBag.DescontoBoleto));

                                                                        <span>ou</span>
                                                                        <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                    }
                                                                </span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model.PricePromotion != null && Model.PricePromotion > 0)
                                                            {
                                                                decimal dec = (decimal)@Model.PricePromotion;
                                                                <span class="precoAntigo"><span>de: </span><span id="preco-antigo">@Model.Price.ToString("C")</span><span> por</span></span>
                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec">@dec.ToString("C")</span>
                                                                if (Model.InstallmentMax != null)
                                                                {
                                                                    <span class="infoPreco">
                                                                        @*<span>em</span>
                                                                        <span id="max-p">@Model.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                        <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                                        <span id="description">(@Model.InstallmentMax.Description)</span>*@
                                                                        @if (ViewBag.DescontoBoleto > 0)
                                                                        {
                                                                            var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));
                                                               
                                                                            <span>ou</span>
                                                                            <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                        }
                                                                    </span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span itemprop="price" class="preco" id="preco" data-preco-inicial="@Model.Price">@Model.Price.ToString("C")</span>
                                                                if (Model.InstallmentMax != null)
                                                                {
                                                                    <span class="infoPreco">
                                                                        @*<span>em</span>
                                                                        <span id="max-p">@Model.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                        <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                                        <span id="description">(@Model.InstallmentMax.Description)</span>*@
                                                                        @if (ViewBag.DescontoBoleto > 0)
                                                                        {
                                                                            var valor_final = (Model.Price - ((Model.Price / 100) * ViewBag.DescontoBoleto));
                                                                     
                                                                            <span>ou</span>
                                                                            <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                        }
                                                                    </span>
                                                                }
                                                            }
                                                        }
                                                    </div>

                                                    <div class="parcela-maxima"></div>
                                                </div>
                                                <!--FIM GRADE-->

                                                <div class="four wide computer sixteen wide tablet sixteen wide mobile column middle aligned padding left no blocoQtd">
                                                    <p class="title">Quantidade</p>
                                                    <div class="qtd">
                                                        <button class="qtdminus" id="qtdminus-detalhes">
                                                            -
                                                        </button>
                                                        <input type="number" min="1" step="1" size="3" value="1"
                                                               name="quantidade" id="quantidade" class="text center" />
                                                        <button class="qtdplus" id="qtdplus-detalhes">
                                                            +
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column btnComprar">
                                                    <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") ui animated button detalhes @(Session["EventList"] !=null ? "btn-add-event-list" :"btn-comprar") @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? "disabled action" : "action" )">

                                                        @if (Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0))
                                                        {
                                                            <div class="visible content">
                                                                PRODUTO ESGOTADO
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="visible content">
                                                                @(Session["EventList"] != null ? "ADICIONAR À LISTA" : "ADICIONAR AO CARRINHO")
                                                            </div>
                                                        }

                                                        <div class="hidden content">
                                                            <i class="add to cart icon"></i>
                                                        </div>
                                                    </a>
                                                    <br />
                                                    @if (useOneClickMaxiPago)
                                                    {
                                                        <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") ui button small animated basic detalhes btn-comprar-oneclick  @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? " disabled" : "" )">
                                                            <div class="visible content">Comprar com 1-Click</div>
                                                            <div class="hidden content">
                                                                <i class="add to cart icon"></i>
                                                            </div>
                                                        </a>
                                                    }

                                                    <!--@{
                                                        bool inlist = false;
                                                        string color = "grey";

                                                        if (ViewBag.InWishList)
                                                        {
                                                            inlist = true;
                                                            color = "red";
                                                        }
                                                    }
                                                    @{
                                                        bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
                                                        if (!isb2b)
                                                        {
                                                            <div class="one column wishlistDetails">
                                                                <div class="column">
                                                                    <a href="#" class="wishlist-btn" data-wishlist-local="detail">
                                                                        <i class="icon heart @color wishlist-item" data-in-list="@inlist" data-have-sku="@(Model.AvailableReferences != null && Model.AvailableReferences.Count() > 0 ? "true" : "false")" data-product-id="@Model.IdProduct"></i>
                                                                        <span>Adicionar a Lista de Desejo</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        }
                                                    }-->
                                                </div>

                                                @if (!string.IsNullOrEmpty(@Model.DescriptionAvailabilityStatus))
                                                {
                                                    <p class="btn-disponivel parcelamento">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M476.158,231.363l-13.259-53.035c3.625-0.77,6.345-3.986,6.345-7.839v-8.551c0-18.566-15.105-33.67-33.67-33.67h-60.392 V110.63c0-9.136-7.432-16.568-16.568-16.568H50.772c-9.136,0-16.568,7.432-16.568,16.568V256c0,4.427,3.589,8.017,8.017,8.017 c4.427,0,8.017-3.589,8.017-8.017V110.63c0-0.295,0.239-0.534,0.534-0.534h307.841c0.295,0,0.534,0.239,0.534,0.534v145.372 c0,4.427,3.589,8.017,8.017,8.017c4.427,0,8.017-3.589,8.017-8.017v-9.088h94.569c0.008,0,0.014,0.002,0.021,0.002 c0.008,0,0.015-0.001,0.022-0.001c11.637,0.008,21.518,7.646,24.912,18.171h-24.928c-4.427,0-8.017,3.589-8.017,8.017v17.102 c0,13.851,11.268,25.119,25.119,25.119h9.086v35.273h-20.962c-6.886-19.883-25.787-34.205-47.982-34.205 s-41.097,14.322-47.982,34.205h-3.86v-60.393c0-4.427-3.589-8.017-8.017-8.017c-4.427,0-8.017,3.589-8.017,8.017v60.391H192.817 c-6.886-19.883-25.787-34.205-47.982-34.205s-41.097,14.322-47.982,34.205H50.772c-0.295,0-0.534-0.239-0.534-0.534v-17.637 h34.739c4.427,0,8.017-3.589,8.017-8.017s-3.589-8.017-8.017-8.017H8.017c-4.427,0-8.017,3.589-8.017,8.017 s3.589,8.017,8.017,8.017h26.188v17.637c0,9.136,7.432,16.568,16.568,16.568h43.304c-0.002,0.178-0.014,0.355-0.014,0.534 c0,27.996,22.777,50.772,50.772,50.772s50.772-22.776,50.772-50.772c0-0.18-0.012-0.356-0.014-0.534h180.67 c-0.002,0.178-0.014,0.355-0.014,0.534c0,27.996,22.777,50.772,50.772,50.772c27.995,0,50.772-22.776,50.772-50.772 c0-0.18-0.012-0.356-0.014-0.534h26.203c4.427,0,8.017-3.589,8.017-8.017v-85.511C512,251.989,496.423,234.448,476.158,231.363z M375.182,144.301h60.392c9.725,0,17.637,7.912,17.637,17.637v0.534h-78.029V144.301z M375.182,230.881v-52.376h71.235 l13.094,52.376H375.182z M144.835,401.904c-19.155,0-34.739-15.583-34.739-34.739s15.584-34.739,34.739-34.739 c19.155,0,34.739,15.583,34.739,34.739S163.99,401.904,144.835,401.904z M427.023,401.904c-19.155,0-34.739-15.583-34.739-34.739 s15.584-34.739,34.739-34.739c19.155,0,34.739,15.583,34.739,34.739S446.178,401.904,427.023,401.904z M495.967,299.29h-9.086 c-5.01,0-9.086-4.076-9.086-9.086v-9.086h18.171V299.29z"/></g></g><g><g><path d="M144.835,350.597c-9.136,0-16.568,7.432-16.568,16.568c0,9.136,7.432,16.568,16.568,16.568 c9.136,0,16.568-7.432,16.568-16.568C161.403,358.029,153.971,350.597,144.835,350.597z"/></g></g><g><g><path d="M427.023,350.597c-9.136,0-16.568,7.432-16.568,16.568c0,9.136,7.432,16.568,16.568,16.568 c9.136,0,16.568-7.432,16.568-16.568C443.591,358.029,436.159,350.597,427.023,350.597z"/></g></g><g><g><path d="M332.96,316.393H213.244c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017H332.96 c4.427,0,8.017-3.589,8.017-8.017S337.388,316.393,332.96,316.393z"/></g></g><g><g><path d="M127.733,282.188H25.119c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017h102.614 c4.427,0,8.017-3.589,8.017-8.017S132.16,282.188,127.733,282.188z"/></g></g><g><g><path d="M278.771,173.37c-3.13-3.13-8.207-3.13-11.337,0.001l-71.292,71.291l-37.087-37.087c-3.131-3.131-8.207-3.131-11.337,0 c-3.131,3.131-3.131,8.206,0,11.337l42.756,42.756c1.565,1.566,3.617,2.348,5.668,2.348s4.104-0.782,5.668-2.348l76.96-76.96 C281.901,181.576,281.901,176.501,278.771,173.37z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                        @Model.DescriptionAvailabilityStatus
                                                    </p>
                                                }
                                            </div>

                                            <!-- COMEÇO SIMULADOR FRETE-->
                                            <div class="row stackable one column">
                                                <div class="column simulador-frete">
                                                    <div class="ui grid">
                                                        <div class="row stackable three column">
                                                            <div class="box">
                                                                <span>Calcular frete e prazo</span>
                                                                <input type="text" name="simular-frete-cep" id="simular-frete-cep" placeholder="00000-000">
                                                                <button name="simular-frete-submit" id="simular-frete-submit">Buscar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui divider"></div>
                                                    <table class="ui very basic table">
                                                        <thead>
                                                            <tr>
                                                                <th>Entrega</th>
                                                                <th>Frete</th>
                                                                <th>Prazo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="listSimulateFreight">
                                                            <tr><td colspan="3" class="center aligned">Digite um CEP e clique no botão OK.</td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- FIM SIMULADOR FRETE-->
                                            
                                            @if (!Model.FlagExhausted)
                                            {
                                                <div id="pagamento-calculado">
                                                    @if (@Model.PricePromotion != null && @Model.PricePromotion > 0)
                                                    {
                                                        @Html.Action("Payment", "Product", new { valor = @Model.PricePromotion, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                                    }
                                                    else
                                                    {
                                                        @Html.Action("Payment", "Product", new { valor = @Model.Price, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>

                            @if (Model.HaveSku)
                            {
                                if (!hasOpenSku)
                                {
                                    if (Model.FlagExhausted || SKUPadrao.Stock == 0)
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                    }
                                    else
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                    }
                                }
                            }
                            else
                            {
                                if (Model.FlagExhausted || Model.Stock == 0)
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                }
                            }

                            <!-- COMEÇO REDES SOCIAIS
                            <div class="ui divider hidden"></div>
                            <div class="one column row">
                                <div class="column">
                                    @*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5915ec2f00f07226"></script>
                                            <div class="addthis_inline_share_toolbox"></div>
                                        <div class="fb-share-button" data-href="@Request.Url.AbsoluteUri.ToString()" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A52868%2FProduct%2FDetails%2F20081&amp;src=sdkpreparse">Compartilhar</a></div>
                                        <div class="g-plus" data-action="share"></div>
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="testes" data-show-count="false">Tweet</a>
                                        <a href="whatsapp://send?text=http://google.com.br">Compartilhar</a>
                                        <a href="https://api.whatsapp.com/send?text=@Request.Url.AbsoluteUri"><img style="max-width: 80px;" src="~/assets/image/whats.jpg" /></a>*@
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59dc437c87fdb766"></script>
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                            FIM REDES SOCIAIS-->
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM INFORMAÇÕES DO PRODUTO-->
        </div>

        <div class="ui divider hidden"></div>
        <!--COMEÇO DESCRIÇÃO-->
        <div class="row">
            <div class="ui top attached secondary pointing stackable menu tabular">
                <a class="item active" data-tab="informacoes">Características do Produto</a>
                <a class="item" data-tab="avaliacoes">Avaliações</a>
            </div>
            <div class="ui bottom attached tab segment basic active" data-tab="informacoes">
                @Html.Raw(Model.DescriptionDetailSummary)
                
                <!--<input type="hidden" value="@Html.Raw(Model.DescriptionDetailSummary)" id="htmlDescription"/> alterações por: marcos 18/06-->
                <input type="hidden" value="" id="htmlDescription"/>

                <!--COMEÇO DETALHES PRODUTO-->
                <div id="detalhes">
                    <div class="ui grid one column">
                        <div class="column">
                            @*<div id="htmlDescriptionResponse"></div>*@
                            @Html.Raw(@Model.DescriptionDetail)
                        </div>
                        @if (Model.Attributes != null && Model.Attributes.Count() > 0)
                        {
                            var useFilter = Model.Attributes.Where(attr => attr.useFilter).ToList();
                            if (useFilter.Count > 0)
                            {
                                <div class="column">
                                    <span class='infoAdicionais'>Informações Adicionais do Produto</span>
                                    @foreach (var atribute in Model.Attributes)
                                    {
                                        if (atribute.useFilter)
                                        {
                                            var attrValues = "";
                                            <p>
                                                <strong>@atribute.name: </strong>
                                                @foreach (var valor in atribute.attributeValues)
                                                {
                                                    if (valor.active)
                                                    {
                                                        attrValues = attrValues != "" ? attrValues + "," + @valor.Value : @valor.Value;
                                                    }
                                                }
                                                @attrValues
                                            </p>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
                <!--FIM DETALHES PRODUTO-->
                
            </div>
            <!--FIM DETALHES PRODUTO-->
            <div class="ui bottom attached tab segment basic" data-tab="avaliacoes" id="avaliacoes">
                <div class="ui grid">
                    <div class="row two column horizontal divided stackable">
                        <!-- COMEÇO AVALIAÇÂO-->
                        <div class="column">
                            <form class="ui form" id="avaliar">
                                <div class="field required">
                                    <label>Nome</label>
                                    <input type="text" name="Name" maxlength="100" placeholder="Nome" id="Name" required>
                                </div>
                                <div class="field required">
                                    <label>E-mail</label>
                                    <input type="text" name="email" maxlength="100" placeholder="Email" id="Email" required>
                                </div>
                                <div class="two fields">
                                    <div class="field required" data-jet-revel="true">
                                        <label>Cidade</label>
                                        <div class="ui input">
                                            <input type="text" maxlength="100" name="AddressCity" placeholder="Cidade" id="cidade" required>
                                        </div>
                                    </div>
                                    <div class="field required">
                                        <label>Estado</label>
                                        <select class="ui dropdown search" id="estado_0" name="AddressState">
                                            <option value="">Selecione</option>
                                            <option value="AC">Acre</option>
                                            <option value="AL">Alagoas</option>
                                            <option value="AP">Amapá</option>
                                            <option value="AM">Amazonas</option>
                                            <option value="BA">Bahia</option>
                                            <option value="CE">Ceará</option>
                                            <option value="DF">Distrito Federal</option>
                                            <option value="ES">Espírito Santo</option>
                                            <option value="GO">Goiás</option>
                                            <option value="MA">Maranhão</option>
                                            <option value="MT">Mato Grosso</option>
                                            <option value="MS">Mato Grosso do Sul</option>
                                            <option value="MG">Minas Gerais</option>
                                            <option value="PA">Pará</option>
                                            <option value="PB">Paraíba</option>
                                            <option value="PR">Paraná</option>
                                            <option value="PE">Pernambuco</option>
                                            <option value="PI">Piauí</option>
                                            <option value="RJ">Rio de Janeiro</option>
                                            <option value="RN">Rio Grande do Norte</option>
                                            <option value="RS">Rio Grande do Sul</option>
                                            <option value="RO">Rondônia</option>
                                            <option value="RR">Roraima</option>
                                            <option value="SC">Santa Catarina</option>
                                            <option value="SP">São Paulo</option>
                                            <option value="SE">Sergipe</option>
                                            <option value="TO">Tocantins</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field required" id="rating_st">
                                    <label>Nota</label>
                                    <div class="ui huge star rating"></div>
                                </div>
                                <div class="field required">
                                    <label>Título</label>
                                    <input type="text" name="Title" maxlength="200" placeholder="Titulo" id="Title">
                                </div>
                                <div class="field required">
                                    <label>Opinião</label>
                                    <textarea id="Comment" maxlength="1000" name="Comment"></textarea>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox" id="ViewEmailCheck">
                                        <input type="checkbox" tabindex="0" class="hidden" name="ViewEmail" id="ViewEmail">
                                        <label>Mostrar Email?</label>
                                    </div>
                                </div>
                                <input type="hidden" name="Rate" id="Rate" value="1" />
                                <br />
                                <button class="ui button btn-avaliar" type="button" id="submitAval">Enviar</button>
                            </form>
                        </div>
                        <!-- FIM AVALIAÇÂO-->
                        <!-- COMEÇO FOMULÁRIO DE AVALIAÇÂO-->
                        <div class="column">
                            <div class="ui comments fluid" id="lista_avaliacoes">
                                @if (Model.ProductRatings != null)
                                {
                                    int total = Model.ProductRatings.Count > 5 ? 5 : Model.ProductRatings.Count;
                                    for (int i = 0; i < total; i++)
                                    {
                                        <div class="comment">
                                            <div class="content">
                                                <a class="author">@Model.ProductRatings[i].Name</a>
                                                <div class="metadata">
                                                    <div class="rating">
                                                        <div class="ui mini star rating" data-rating="@Model.ProductRatings[i].Rate"></div>
                                                    </div>
                                                    <div class="date"></div>
                                                    @if (Model.ProductRatings[i].LeavePublicEmail == true)
                                                    {
                                                        <div class="email">@Model.ProductRatings[i].Email</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="email"></div>
                                                    }
                                                    <div class="date">@Model.ProductRatings[i].DateRegister</div>
                                                    <div class="address">@Model.ProductRatings[i].AddressCity</div>
                                                </div>
                                                <div class="text">
                                                    <h5>@Model.ProductRatings[i].Title</h5>
                                                    <p>@Model.ProductRatings[i].Comment</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                    }

                                }
                            </div>
                            @if (Model.ProductRatings != null && Model.ProductRatings.Count > 5)
                            {
                                <div class="ui button teal tiny right icon" id="btn_carregar_avaliacoes">
                                    <i class="icon refresh"></i>
                                    Carregar mais avaliações
                                </div>
                            }
                        </div>
                        <!-- FIM FOMULÁRIO DE AVALIAÇÂO-->
                    </div>
                </div>
            </div>
        </div>
        <!--FIM DESCRIÇÃO-->
        @if (!Model.FlagExhausted && !hasOpenSku)
        {
        
            if (Model.BuyTogether != null && Model.BuyTogether.Count > 0 && Session["EventList"] == null)
            {
                <div class="row" id="buy-together">
                    @Html.Partial("~/Views/Product/Details/_BuyTogether.cshtml", Model)
                </div>
            }
            
        }
        
        @if (Model.AlsoProductsPurchased != null && Model.AlsoProductsPurchased.Count > 0)
        {
            <div class="row" id="AlsoProducts">
                @Html.Partial("~/Views/Product/Details/_AlsoPurchased.cshtml", Model.AlsoProductsPurchased)
            </div>
        }
        
        
        @if (Model.RelatedProducts != null && Model.RelatedProducts.Count > 0)
        {
            <div class="row" id="RelatedProducts">
                @Html.Partial("~/Views/Product/Details/_RelatedProducts.cshtml", Model.RelatedProducts)
            </div>
        }
        


        @if (!Model.FlagExhausted || Session["EventList"] != null)
        {
            @Html.Partial("~/Views/Product/Details/_FloatingBar.cshtml", Model)
        }
    </div>
</div>


<div class="ui modal login">
    <i class="close icon"></i>
    <div class="header ui center aligned segment">Faça login ou cadastre-se para continuar</div>
    <div class="description">
        @Html.Action("LoginPartial", "Customer", new { _class = "modal-login", returnURL = Model.UrlFriendlyCustom != null ? $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendlyCustom}" : $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendly}" })
    </div>
</div>