﻿@model DomainProduct.Entities.Category
@{
  ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
  Layout = "~/Views/Shared/Base/_LayoutBreadCrumbLeftSideBar.cshtml";
  var returnUrl = HttpContext.Current.Request.Url.AbsolutePath;
}

@section CustomSeo {
  @{
    if (!String.IsNullOrEmpty(Model.MetaDescription))
    {
      <meta name="Description" content="@Model.MetaDescription">
    }
  }
}

@section breadcrumbs {
  <div class="ui grid breadcrumbs">
    <div class="row">
      <div class="ui container">
        <div class="column">
          <h1>@(Model != null ? Model.Name : "")</h1>
          <div class="ui breadcrumb text small">
            <a class="section" href="/">Home</a>
            <i>/</i>
            <div class="active section">@(Model != null ? Model.Name : "")</div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@section banner {
	@if (Model != null)
	{
		<!-- ~/Views/Shared/Blocks/Banner/_BannerCategory.cshtml -->
		<!--@Html.Action("BannerCategory", "Banner", new { id = Model.IdCategory, type = 'F' })-->
	}
}

@section filters {
  <div class="four wide column filterColumn">
    <div class="row one column filterBlock"  id="filterBlock">
      <!-- Page: ~/Views/Shared/Common/_FilterMenu.cshtml -->
      @if (LojaCorp.Control.Company._Company.ViewProductFiltersUrl)
      {
        @Html.Action("FilterMenuNew", "Product", new { category = Model.IdCategory, brand = "", group = "", keyword = "" })
      }
      else
      {
        @Html.Action("FilterMenu", "Product")
      }
    </div>
    <div class="row">
      <!-- Page: ~/Views/Shared/Blocks/Banner/_SideHalfBanner.cshtml -->
      @Html.Action("SideHalfBannerCategory", "Banner", new { categoryId = Model.IdCategory })
    </div>
  </div>
}

<div class="twelve wide column">
  <div class="ui grid">
    <div class="row one column">
      <div class="column right aligned right floated">
        <button class="filterbutton right labeled small" data-tooltip="Filtros" data-inverted="">
          Filtrar
        </button>

        <!-- <div class="ui dropdown button basic dropdownitens small">
          <span class="text">@(Request.QueryString["pageSize"] != null ? Request.QueryString["pageSize"] : "Itens")</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="12">
              12
            </div>
            <div class="item" data-value="18">
              18
            </div>
            <div class="item" data-value="24">
              24
            </div>
            <div class="item" data-value="30">
              30
            </div>
          </div>
        </div> -->
        
        <div class="ordenar_por">
          <p>Ordenar por</p>
          <div class="ui dropdown button basic dropdownorder small">
            <span class="text">
              Ordenar por
            </span>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="lancamentos">
                <i class="asterisk icon"></i>
                Lançamentos
              </div>
              <div class="item" data-value="maior_preco">
                <i class="sort numeric descending icon"></i>
                Maior Preço
              </div>
              <div class="item" data-value="mais_vendidos">
                <i class="diamond icon"></i>
                Mais Vendidos
              </div>
              <div class="item" data-value="menor_preco">
                <i class="sort numeric ascending icon"></i>
                Menor Preço
              </div>
              <div class="item" data-value="nome_a_z">
                <i class="sort alphabet ascending icon"></i>
                Nome [A-Z]
              </div>
              <div class="item" data-value="nome_z_a">
                <i class="sort alphabet descending icon"></i>
                Nome [Z-A]
              </div>
            </div>
          </div>
        </div>

        <button id="viewgrid" class="ui icon button basic small viewgrid mobile hide" data-tooltip="Grid" data-inverted="">
          <i class="grid layout icon"></i>
        </button>
        <button id="viewlist" class="ui icon button basic small viewlist mobile hide" data-tooltip="Lista" data-inverted="">
          <i class="list layout icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="list">
    <!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryList.cshtml -->
    <!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryGrid.cshtml -->
    @if (Model != null)
    {
      <div class="categoryProducts">
        @Html.Action("GetProducts", "Product", new {
            category = Model.IdCategory,
            viewList = Request.QueryString["viewList"] ?? "",
            pageNumber = Request.QueryString["pageNumber"] ?? "",
            pageSize = 48,
            order = Request.QueryString["order"] ?? "",
            brand = Request.QueryString["brand"] ?? "",
            group = Request.QueryString["group"] ?? "",
            initialPrice = Request.QueryString["initialPrice"] ?? "",
            finalPrice = Request.QueryString["finalPrice"] ?? "",
            variations = Request.QueryString["variations"] ?? "",
            idAttribute = Request.QueryString["idAttribute"] ?? "",
            idCategories = Request.QueryString["idCategories"] ?? ""
        })
      </div>
    }
  </div>
</div>

<input type="hidden" name="CurrentPage" id="CurrentPage" value="category" />
<input type="hidden" name="GenericPageFilter" id="GenericPageFilter" value="@Model.IdCategory" />
<input type="hidden" name="ViewProductFiltersUrl" id="ViewProductFiltersUrl" value="@LojaCorp.Control.Company._Company.ViewProductFiltersUrl.ToString()" />

@section custom_js{
  <script>
        window.filterManipulation = { idCategory: @Model.IdCategory };
  </script>
}