.flexCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ui.sidebar.carrinho,
#miniCarrinho {
  background-color: #ffffff;
  height: 100%;
  margin: -1rem;
  margin-top: -1rem;
  max-width: 35vw;
  min-width: 550px;
  padding: 0;

  @media screen and (max-width: $mobile-bp) {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }


  >div.row:first-child {
    padding: 0px;
  }

  .ui.form {

    .button {
      margin-bottom: 0px;
    }
  }

  .row.head {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0px;

    #MiniCartTitle {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    .fecharCarrinho {
      border-radius: 0px;
      font-size: 30px;
      margin-right: -13px;
      padding: .33em !important;
      background: transparent;
    }
  }

  .row.info {
    height: 45px;
    padding: 0;
    background: #f7f7f7;

    .column {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      line-height: 45px;
      text-align: center;

      i {
        font-size: 20px;
      }
    }

  }

}

.ui.sidebar.carrinho,
#miniCarrinho,
#ListProductsCheckoutCompleto {


  .detalhes.produtos {
    box-shadow: none;
  }

  .ui.items {
    .item {
      .ui.image {
        @media screen and (max-width: $mobile-bp) {
          width: auto !important;
          max-width: 100px !important;
        }

        +.content {
          @media screen and (max-width: $mobile-bp) {
            padding-left: 1em !important;
          }
        }
      }

      .description {
        >span.title {
          color: black;
          font-size: 12px;
          display: block;
        }
      }

      .subtotal {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 1em;
        display: block;
      }
    }
  }
}

.description {
  &.resultado {
    display: none;
    padding-bottom: 0.6em;
  }

  &.frete {
    padding-bottom: 0.6em;
  }
}

.busca.cep {
  display: table;
  height: 100%;

  >p {
    display: table-cell;
    vertical-align: middle;
  }
}

#checkout.progress {
  margin-bottom: 5px !important;
}

.ui.items {
  &.fluid {
    width: 100%;
  }

  &.card-checkout {
    .item {
      padding: 1rem 0;
      margin: 0;

      .checkbox {
        font-size: 13px;
        width: 100% !important;
      }
    }
  }

  &.compra {
    max-height: 235px;
    position: relative;
    overflow-y: scroll;
  }
}

#checkout {
  display: none;
}

#ListProductsCheckout,
#checkout_products_list,
#checkout_products_list_cart {
  .product.title {
    h1 {
      font-size: 14px;
      margin-bottom: 0.2em;
      font-weight: bold;
      color: $black;
    }

    div {
      font-weight: normal;
      font-size: 11px;
      color: $grey;
    }
  }

  .product.avaibility {
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }

  .removeCartItem,
  .removeItemEventList {
    i.icon {
      font-size: 1.3em;
      cursor: pointer;
    }
  }
}

#checkout_products_list_cart {
  a.product.title {
    h1 {
      font-size: 1.35em;
      margin-bottom: 0.3em;
    }

    div {
      font-weight: normal;
      font-size: 13px;
      color: $grey;
    }
  }

  .product.avaibility {
    color: $grey;
    font-size: 0.95em;
  }
}

.presente {
  .ui.toggle.checkbox input:checked~.box:before,
  .ui.toggle.checkbox input:checked~label:before {
    background-color: #21BA45 !important;
  }
}

.disable_column {
  pointer-events: none;
  opacity: 0.45;
}

#checkOneClickMaxiPago .custom_oneClick {
  width: 25px;
  padding: 0;
  max-width: 25px;
  margin: 4px;
}

@media only screen and (max-width: 768px) {
  #ListProductsCheckout {
    height: 100% !important;
  }
}