$menuBG: #091330;
$menuTextColor: $white;
$menuHeight: 50px;
$menuHoverBorderColor: $secondary-color;
$colorLinkSubMenu: "#666";

.ui.menu .item:before {display: none;}

.menuheader {
  width: 100%;
  background-color: $menuBG;
  
  @media screen and (min-width:$mobile-bp) {
    min-height: $menuHeight;
  }

  .ui.menu {
    background: transparent;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    display: flex;
    font-weight: 400;
    min-height: 2.85714286em;
    flex-wrap: wrap;
    margin: 0;

    li {
      >.item {
        word-wrap: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        margin: 0;
        font-size: 13px;
        font-weight: 700;
        line-height: $menuHeight;
        border-bottom: 2px solid transparent;
        transition: border 300ms;

        @media screen and (max-width:$mobile-bp) {
          font-size: 14px;
          text-transform: initial;
          font-weight: 400;
        }

        @media screen and (min-width:$mobile-bp) {
          &:hover {
            border-color:#e7b94f;
          }
        }

        >.icon.dropdown {
          line-height: 18px;
        }

        >.icon.content {
          font-size: 26px;
          line-height: 1;
          margin-right: 15px;
        }

        .menu {
          border-radius: 0px !important;
          margin-top: 0px !important;
          z-index: 10;

          .item {
            line-height: 18px;

            &:hover,
            &.active,
            &:focus {
              box-shadow: none !important;
            }
          }

          .menu {
            box-shadow: none;
          }
        }
      }
      
      a {
        span {
          display: inline-block;
          margin-right: 4px;
        }
      }

      a[title="Elétrica"] {
        span {
          width: 24px;
          height: 24px;
          background-image: url(/assets/image/icones/ico-eletrica.png);
        }
      }

      a[title="Iluminação"] {
        span {
          width: 17px;
          height: 24px;
          background-image: url(/assets/image/icones/ico-iluminacao.png);
        }
      }

      a[title="Máquinas"] {
        span {
          width: 27px;
          height: 23px;
          background-image: url(/assets/image/icones/ico-maquinas.png);  
        }
      }

      a[title="Pintura"] {
        span {
          width: 25px;
          height: 24px;
          background-image: url(/assets/image/icones/ico-pintura.png);  
        }
      }

      a[title="Hidráulica"] {
        span {
          width: 22px;
          height: 25px;
          background-image: url(/assets/image/icones/ico-hidraulica.png);  
        }
      }

      a[title="Jardinagem"] {
        span {
          width: 26px;
          height: 27px;
          background-image: url(/assets/image/icones/ico-jardinagem.png);  
        }
      }

      a[title="Segurança"] {
        span {
          width: 30px;
          height: 17px;
          background-image: url(/assets/image/icones/ico-seguranca.png);  
        }
      }

      a[title="Ferragens"] {
        span {
          width: 23px;
          height: 23px;
          background-image: url(/assets/image/icones/ico-ferragens.png);  
        }
      }

      a[title="Liquidação"] {
        span {
          width: 26px;
          height: 26px;
          background-image: url(/assets/image/icones/ico-liquidacao.png);  
        }
      }  
    }

    .header {
      a {
        color: $colorLinkSubMenu;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .ui.menu .item {
    color: $menuTextColor;
    line-height: $menuHeight;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .ui.menu .item:hover,
  .ui.menu .item.active {
    color: $menuTextColor;
  }

  .sub-megamenu {
    .ui.link.list {
      .item {
        color: rgba(0, 0, 0, 0.7);
        margin: 0.5em 0px;
        padding-left: 10px;
      }
    }
  }

  .ui.menu>.item:first-child,
  .ui.menu>.item:last-child {
    border-radius: 0px;
  }

  .ui.list {
    h4 {
      font-weight: normal;
    }

    .item {
      color: rgba(0, 0, 0, .7);
      padding-left: 10px !important;

      &:hover,
      &.active,
      &:focus {
        color: rgba(0, 0, 0, .9);
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

@import "wsmenu/style";