﻿@using Microsoft.Ajax.Utilities
@model IList<DomainProduct.Entities.Brand>

@if (Model != null && Model.Count() > 0)
{
    <div class="ui container fluid brands">
        <div class="ui container padding top medium">
            <div class="ui divider horizontal margin bottom no brand-title">Nossas marcas</div>
            <div class="ui equal width grid images middle aligned center aligned stackable margin none">
                <div class="row slideshow" data-qtd="6">
                    @{
                        int ordena = 0;
                        foreach (var brand in Model)
                        {
                            if (brand.IdBrand == 255)
                            {
                                ordena = 0;
                            } 
    
                            <div class="column" data-order="@ordena">
                                <div class="containerBrand">
                                    <a href="@brand.UrlFriendly" title="@brand.Name">
                                        <img class="ui image centered brands" src="@brand.Logo" alt="@brand.Name" title="@brand.Name" onerror="imgError(this)">
                                        <span>CONFIRA</span>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
        </div>
    </div>
}