/* Breadbrumbs */
.breadcrumbs {
  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  @media screen and (max-width: $mobile-bp) {
    text-align: center;
    line-height: 30px;
    >.ui.container {
      padding:10px 0;
      >.ui.grid {
        >.column {
          padding-top:0 !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }
}

.ui.breadcrumb {
  text-transform: uppercase;
  color:$black;
  font-size:12px;
  padding: 0;

  li {
    display: inline-block;

    a {
      color:#666666;
    }

    i {
      margin: 0 9px;
    }

    .active {
      font-weight: 700;
    }
  }
}