.ui.cards > .card {
  border-radius: 0 !important;  
  > .content {
    border-top:none !important;
  }
}

.ui.card  {
  &:last-child {
    border-radius: 0 !important;
  }
  
  &.produto {
    &:hover,
    &:focus {
      background-color: #f2f2f2;
    }
    
    >.content {
      @media screen and (max-width: $mobile-bp) {
        padding:.3rem !important;
      }
    }
  }
  
  > .content{
    border-top:none !important;
  }
}

