.ui {

  &.divider {

    color:$primary-color;
    font-weight: bold;
    font-size: 28px;

    a {
      color:#091330;
      font-weight: bold;
      font-size: 28px;
    }

    &.medium {
      margin: 0.5rem 0;
    }

    &.small {
      margin: 0.2rem 0;
    }
  }

  &.selection.dropdown {
    min-width: 100% !important;
  }
}

.ui.horizontal.divider:not(.avaliacao):not(.hidden) {
  position: relative;
  
  > span,
  > a{
    display: inline-block;
    width: auto;
    float: left;
    background: #fff;
    padding-right: 20px;
    font-weight: 400;
    text-transform: initial;
  }

  &:after,
  &:before {
    display: none;
  }
}
