﻿
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">

@model DomainCompany.Entities.CustomPageContent
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.TitlePage) ? Model.Name : Model.TitlePage;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.Metatag))
        {
            <meta name="Description" content="@Model.Metatag">
        }
    }
}

<main class="instituicional">
    <div class="ui container">
        <div class="ui grid">
            <div class="banner-institucional sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                <img src="/assets/image/institucional/banner-institucional.jpg" alt="" />
                <img class="banner-mob" src="/assets/image/institucional/banner-institucional-mob.jpg" alt="" />
            </div>
            <nav class="menu-institucional three wide computer nine wide tablet sixteen wide mobile column">
                <ul>
                    <li><a href="/institucional/11/63">Quem Somos</a></li>
                    <li><a href="/institucional/11/64">Política de Segurança</a></li>
                    <li><a href="/institucional/11/194">Política de Privacidade</a></li>
                    <li><a href="/institucional/12/65">Formas de Entrega</a></li>
                    <li><a href="/institucional/12/68">Trocas e Devoluções</a></li>
                    <li><a href="/institucional/12/3272">Frete Grátis SP</a></li>
                    <li><a href="/Company/CommonQuestions">Dúvidas Frequentes</a></li>
                </ul>
            </nav>
            <div class="nine wide computer sixteen wide tablet sixteen wide mobile column text">
                <h2 class="title">@(Model != null ? Model.Name : "")</h2>
                @Html.Raw(Model.Content)
            </div>
            <div class="four wide computer sixteen wide tablet sixteen wide mobile column">
                    <div class="box-contato">
                        <p class="name-box">Fale Conosco</p>
                        <ul class="telefones">
                            <li class="tel">
                                <p class="title">SAC:</p>
                                <span class="telefone"><a href="tel:551142001309">(11) 4200-1309</a></span>
                            </li>
                            <li class="whats">
                                <p class="title">Whatsapp</p>
                                <span class="telefone"><a href="https://api.whatsapp.com/send?phone=5511943297167&text=sua%20mensagem&source=&data=">(11) 94329-7167</a></span>
                            </li>
                        </ul>
                        <div class="atendimento">
                            <p>Atendimento de Segunda à Sexta </br>
                                das 08:00 às 17:00</p>
                        </div>

                        <div class="fale-conosco">
                            <p class="name-box">Não encontrou o que
                                procura?</p>
                            <a href="/fale-conosco" class="btn-fale-conosco">Tire suas dúvidas</a>
                        </div>
            
                    </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal-fale-conosco">
            <div class="overlay close"></div>
            <div class="box-form-modal">
                <span class="button-close close">X FECHAR</span>
                <div class="box">
                    <form method="get">
                        <p>
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id="nome" placeholder="Digite seu nome completo" required="required"/>
                        </p>
    
                        <p>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="exemplo@contato.com.br" required="required"/>
                        </p>
    
                        <p>
                            <label for="telefone">Telefone para contato</label>
                            <input type="text" name="telefone" id="telefone" placeholder="(xx) 00000-0000" required="required"/>
                        </p>
    
                        <p>
                            <label for="assunto">Assunto</label>
                            <select name="assunto" id="assunto" required="required"/>
                                <option value="">Trocas e Devoluções</option>
                            </select>
                        </p>
    
                        <p>
                            <label for="descricao">Descrição</label>
                            <textarea name="descricao" id="descricao"  placeholder="Fale sobre seu problema, dúvida ou sugestão..."></textarea>
                        </p>
    
                        <div class="buttons">
                            <span class="close">FECHAR</span>
                            <button type="submit">
                                enviar mensagem
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div> -->
</main>