﻿@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<!-- Tipbar -->
<div class="ui container">
    <ul class="tipbar">
        <li><p>Frete grátis acima de R$ 300 (Grande SP)</p></li>
        <li><p>Parcele suas compras até 12x sem juros</p></li>
        <li><p>Compra 100% segura</p></li>
        <li><p>Vendas Corporativas: 4200-1309 / (11) 94329-7167</p></li>
    </ul>
</div>
    
<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<!-- MOBILE -->
<!-- ~/Views/Shared/Blocks/Banner/_FooterHalfBanner.cshtml  -->
@Html.Action("FooterHalfBanner", "Banner")
<!-- FIM - MOBILE -->

<!-- ~/Views/Shared/Blocks/Brand/_Brands.cshtml -->
@Html.Action("Brand", "Product")

<!-- ~/Views/Shared/Blocks/_InfoBar.cshtml -->
<!--@Html.Partial("Blocks/_InfoBar")-->

<div class="featuredProducts">
    <!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
    @Html.Action("FeaturedProducts", "Product")
</div>

<!-- ~/Views/Shared/Blocks/_CentralHalfBanner.cshtml -->
@Html.Action("CentralHalfBanner", "Banner")


<!-- ~/Views/Shared/Blocks/Banner/_SideHalfBanner.cshtml -->
<!-- @Html.Action("SideHalfBanner", "Banner") -->

<!-- ~/Views/Shared/Blocks/Group/_Groups.cshtml -->
@Html.Action("Group", "Group")

<!-- 
<div id="nosso_blog">
    <div class="ui container">
        <div class="ui grid">
            <h2>Conheça nosso Blog</h2>
            <ul></ul>
        </div>
    </div>
</div> 
-->

<!-- ~/Views/Shared/Blocks/_TopSellers.cshtml -->
@Html.Action("TopSellers", "Product")

<!-- POP UP CAPTÇÃO -->
<div id="mauticform_wrapper_popupcaptacao" class="mauticform_wrapper">
    <span class="close_pop_up">x</span>

    <form>
        <fieldset class="column_1">
            <div class="title">
                <h3>
                    Cadastre-se e ganhe 10% off na sua primeira compra.</br>
                    Fique por dentro das novidades e promoções Net Eletrica!
                </h3>
            </div>
            
            <div class="inputs">
                <input type="hidden" name="mauticform[formId]" id="mauticform_popupcaptacao_id" value="3">
                <input type="hidden" name="mauticform[return]" id="mauticform_popupcaptacao_return" value="">
                <input type="hidden" name="mauticform[formName]" id="mauticform_popupcaptacao_name" value="popupcaptacao">

                <input type="email" name="email" required />
                <input type="submit" value="Cadastrar" />
            </div>
        </fieldset>

        <!-- MENSAGEM -->
        <fieldset class="column_2 message">
            <h4>Cadastro efetuado com sucesso!</h4>
            <p>Em breve você receberá por e-mail o seu cupom de desconto e muitas novidades.</p>
        </fieldset>
    </form>
</div>
<!-- FIM - POP UP CAPTÇÃO -->