h1.nomeProduto {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
    color: $black;
}

h6.codProduto {
    color: #888888;
    margin: 0px !important;
}

.produto {
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
     
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

#exibePartial {
    @media screen and (max-width:$mobile-bp) {
        margin-bottom: -25px!important;

        .thumbs {
            order: 2;
        }

        .img-principal {
            order: 1;
        }
    }
}

#exibePartial .img-principal {
    .ui.image {
        display: block;
    }

    .easyzoom {
        width: 100%;

        #imagem-padrao {
            margin: 0 auto;
        }
    }
}

.infoProduto {
    @media screen and (max-width:$mobile-bp) {
        padding-top: 0!important;
        margin-top: -27px!important;
    }

    #dica_compra_partial {
        margin-top: 15px;

        @media screen and (max-width: $mobile-bp) {
            margin: 0 auto;
            display: table;
        }
    }

    .marcaProduto {
        color: #666;
        font-size: 14px;
    }

    .avaliacoes {
        color: #666;
        display: table;

        &:hover {
            cursor: pointer;
        }
    }

    .blocoInfo {
        @media screen and (max-width: $mobile-bp) {
            padding: 0;
        }

        .linkRating {
            color: #666666;
            font-size: 12px;
        }

        .blocoValores {
            >.column {
                @media screen and (max-width: $mobile-bp) {
                    text-align: center;
                }
            }

            .border_custom {
                border-top: 0 !important;

                @media screen and (max-width:$mobile-bp) {
                    margin-top: -6px;
                }

                @media screen and (min-width:$mobile-bp) {
                    margin-top: -18px;
                }

                span.border {
                    height: 1px;
                    width: 100%;
                    display: block;
                    background-color: #dcdcdc;
                    margin-bottom: 30px;
                }
            }

            .row {
                padding: 0.25rem 0 !important;
            }

            .blocoQtd {
                text-align: right;

                @media screen and (max-width: $mobile-bp) {
                    text-align: left;
                }

                .title {
                    padding-right: 28px;
                    margin-bottom: 5px;
                }

                .qtd {
                    width: 120px;
                    height: 38px;
                    text-align: right;
                    padding: 5px;
                    display: inline-block;
                    background-color: #f0f0f0;

                    input[type="number"] {
                        width: 45px;
                        background-color: transparent;
                        border: none;
                        text-align: center;
                    }

                    button {
                        background-color: #1da1a5;
                        border: none;
                        color: white;
                        width: 28px;
                        height: 28px;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 16px;
                        text-align: center;
                        padding: 0;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                }
            }

            .blocoPreco {
                @media screen and (max-width: $mobile-bp) {
                    text-align: left !important;
                }

                .precoAntigo {
                    clear: both;
                    color: #999;
                    font-size: 12px;
                    line-height: 18px;

                    &:after {
                        content: "\A";
                        white-space: pre;
                    }
                }

                .preco {
                    clear: both;
                    color: $black;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 25px;

                    &:after {
                        content: "\A";
                        white-space: pre;
                    }
                }

                .disponibilidade {
                    margin: 5px 0 10px 0;
                    color: #666666;
                    font-size: 12px;

                    @media screen and (max-width: $mobile-bp) {
                        text-align: center !important;
                    }
                }

                .infoPreco {
                    clear: both;
                    color: #393939;
                    font-size: 14px;
                    line-height: 18px;

                    &:after {
                        content: "\A";
                        white-space: pre;
                    }

                    .descontoBoleto {
                        color: $ascent-1-color;
                        font-weight: 700;
                    }
                }
            }

            .btnComprar {
                .btn-comprar {
                    width: 100%;
                    padding: 23px 20px;
                    font-size: 1.2rem;
                    box-shadow: 0px 3px 9px 3px #dcdcdc !important;

                    &.fixed {
                        position: fixed;
                        width: 100%;
                        bottom: 0;
                        z-index: 10;
                        left: 0;
                    }
                }

                margin: 20px 0 10px !important;

                .btn-comprar-oneclick {
                    margin-top: 20px;
                    font-size: 0.92857143rem;
                    font-weight: normal;
                }
            }

            .btn-disponivel {
                background: #dcdcdc;
                text-transform: uppercase;
                font-size: 13px;
                width: 100%;
                height: 30px;
                margin: 5px 15px 0;
                border-radius: 3px;
                text-align: center;
                line-height: 30px;
                color: black;
                font-weight: bold;
                display:flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width:$mobile-bp) {
                    font-size: 9px;
                }

                svg {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.product-button {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
        display: block !important;
        margin-bottom: 10px !important;
    }
}

.product-tags {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: 70%;

    .tag {
        margin-left: 1.5em !important;
    }
}

.border.bottom.grey:not(.inverted) {
    border-bottom: 5px solid #dddddd;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;
}

.formas-pagamento {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;

    .accordion {
        .title {
            color: #666666;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ui.list {
            padding-left: 2.2em;
        }
    }
}

.ui.grid.segment {
    padding: 10px 0px !important;
}

.ui.segment {

    &.yellow,
    &.grey {
        .ui.form .fields {
            margin: 0px !important;
        }
    }
}

.ui.ribbon {
    z-index: 5;
}

.produtos.compre.junto {
    >.item {
        .extra {
            width: auto !important;
        }
    }
}

.variacao {
    &.cor {
        height: 35px;
        width: 35px;
    }

    &.selecionado {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35) !important;
    }
}

.product {
    &.information {
        .marcaProduto {
            margin: 0px !important;
        }

        &.row {
            padding-bottom: 0.1rem !important;
        }

        .column {
            padding-bottom: 0.3rem !important;
            padding-top: 0.3rem !important;
        }
    }
}

.produto {
    &.detalhes {
        &.row {
            padding-top: 0px !important;
        }
    }
}

#pagamento-calculado {
    .formas-pagamento {
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 0!important;
        border: none!important;

        .accordion {
            & > .title {
                text-transform: initial!important;
                text-decoration: underline;

                i {
                    display: none;
                }

                span {
                    strong {
                        font-weight: 400;
                    }
                }
            }

            .content {
                .accordion {
                    margin-top: 0;
                    padding-left: 15px;

                    .title {
                        text-align: left;
                        text-decoration: initial!important;
                    }
                }
            }
        }
    }
}

.fb-share-button {
    display: block;
    float: left;
    margin-right: 3px;
}

.menu.tabular {
    .item {
        color: #999 !important;
        text-transform: uppercase;

        &.active {
            color: $black !important;
        }
    }
}

.product-b2b {
    .preco {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .precoAntigo i {
        text-decoration: line-through;
    }

    .ui.form .field>.button {
        margin-bottom: 0px;
    }
}

#buy-together {
    .row {
        &.horizontal {
            &.divided {
                background: #fff;
            }
        }
    }

    a {
        font-weight: bold;
        font-size: 14px;
        color: #666666;
    }

    .ui.attached.segment {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .ui.table {
        border: 1px solid #eee;
        color: #666666;
        border-radius: 0 !important;

        strong {
            color: #000;
        }

        thead th {
            background-color: #999999;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            border-radius: 0 !important;
        }
    }

    #price-buy-together,
    h4 {
        color: $black;
        font-size: 20px;
        line-height: 25px;
    }

    #btn_comprejunto {
        i {
            opacity: 1 !important;
        }
    }
}

#AlsoProducts {
    margin-top: 60px;

    >.ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}

#RelatedProducts {
    >.ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}

.ui.items:not(.unstackable)>.item>.image>a>img {
    @media screen and (max-width: $mobile-bp) {
        max-width: 100% !important;
        width: auto !important;
        max-height: 250px !important;
    }
}

.ui.list>div>.item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
}

.kit-product {
    .blocoKit {
        h5 {
            font-size: 16px;
            color: #262626;
        }

        .infoKit {
            text-align: right;

            .nameProduct {
                font-size: 16px;
                color: #262626;
                font-weight: 700;
            }

            .valores {
                color: #767676;
                margin: 5px 0 10px;

                .valorDe {
                    font-size: 11px;
                    text-decoration: line-through;
                }

                .valorPor {
                    color: #2980b9;
                    font-size: 20px;
                }

                .kit {
                    font-size: 11px;
                }
            }

            .variacao {
                color: #767676;
                font-size: 14px;
            }

            .quantidade {
                color: #767676;
                font-size: 14px;
            }
        }
    }
}

.parcela-maxima {
    &:empty {
        display: none;
    }

    p {
        font-size: 14px;
        color: #1da1a5;

        @media screen and (max-width:$mobile-bp) {
            font-size: 13px;
        }

        span {
            font-weight:bold;
        }
    }
}

.infoPrecoKit {
    color: #999;
    font-size: 14px;
}

.wishlistDetails {
    margin-top: 20px;

    i {
        font-size: 22px;
        color: #666 !important;
    }

    span {
        color: #666 !important;
    }
}

.simulador-frete {
    margin-top: 30px !important;
    box-shadow: none !important;
    border-radius: 0 !important;

    #simular-frete-cep {
        height: 35px;
        border: 1px solid #dcdcdc;
        text-indent: 10px;
        border-radius: 3px;
    }

    #simular-frete-submit {
        width: 70px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        font-size: 12px;
        position: relative;
        top:-1px;
        cursor: pointer;
    }

    .box {
        padding: 0 15px;
        
        @media screen and (max-width:340px) {
            text-align: left;
        }

        span {
            color: #000;
            font-size: 13px;
            font-weight: 400;
            margin-right: 10px;

            @media screen and (max-width:$mobile-bp) {
                display: block;
                text-align: left;
                margin-bottom: 5px;
            }
        }
    }

    table {
        display: none;
        &.active {display: block;}
        thead {
            tr {
                th {
                    padding: 5px 5px 15px !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 15px 5px !important;
                    font-weight: normal !important;
                }
            }
        }
    }
}

#detalhes {
    table {
        width: 100%;
        border-spacing: 0;
        font-size: 13px;

        thead {
            background: #120478;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
        }

        td {
            padding: 10px;
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background: #eee;
                    border: 0;
                }

                td:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}