.ui.six.cards>.card {
    @media screen and (min-width:768px) and (max-width:1024px) {
        width: calc(25% - 1.5em) !important;
    }
}

.card.produto {
    box-shadow: none !important;

    &:hover {
        .botoes {
            opacity: 1!important;
        }

        .wishlist {
            display: block;
        }
    }

    .avaliacao {
        text-align: center;
    }

    .content {
        position: relative;
        z-index: 4;
        border-top: 0px !important;

        .info {
            height: auto;
            position: relative;
            text-align: center;
            transition-duration: 0.3s;
            z-index: 4;

            .dados {
                padding: 10px 0;

                a:focus {
                    text-decoration: underline;
                }

                h3 {
                    height: 55px;
                    font-weight: normal;
                    color: $black;
                    font-size: 13px;
                    margin-bottom: 10px;

                    @media screen and (max-width:$mobile-bp) {
                        font-size: 12px;
                    }
                }

                .precoBase {
                    color: #666666;
                    font-size: 14px;

                    i {
                        text-decoration: line-through;
                    }
                }

                .preco {
                    color: $primary-color;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 900;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .parcelamento {
                    color: #666666;
                    font-size: 14px;
                }
            }

            .botoes {
                border-top: 0 !important;
                width: 100%;
                display: flex;
                justify-content: space-between;
                opacity: 0;
                transition: opacity 300ms;

                @media screen and (max-width:$mobile-bp) {
                    opacity: 1;
                }

                .btnComprar,
                .btn-comprar-card {
                    width: 80%;
                    height: 35px;
                    line-height: 35px;
                    font-weight: bold;
                    text-transform: uppercase!important;
                    color: white;
                    padding-right: 0!important;
                    padding-left: 0!important;
                    padding-top: 0!important;
                    padding-bottom: 0!important;
                    border-radius: 0!important;

                    @media screen and (max-width:$mobile-bp) {
                        font-size: 11px;
                    }

                    &:hover,
                    &:focus,
                    &:checked,
                    &:active {
                        opacity: .9;
                    }

                    .icon {display: none;}
                }

                .btnDetalhes {
                    width: 15%;
                    height: 35px;
                    display: block;
                    background-color: #bebebe;
                    background-image: url(/assets/image/icones/ico-eye.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    font-size: 0;
                    border-radius: 0;
                    
                    .icon {display: none;}

                    &:hover,
                    &:focus,
                    &:checked,
                    &:active {
                        opacity: .9;
                    }
                }
            }

            .sku-options {
                color: #ffffff;
                display: block;
                opacity: 0;
                padding: 10px;
                position: absolute;
                text-align: left;
                bottom: 100%;
                transition-duration: .3s;
                width: 100%;
                max-height: 230px;
                z-index: 10 !important;

                &.mask {
                    background: rgba(255, 255, 255, .5);
                }
            }
        }
    }

    &:hover,
    &:focus {
        background-color: #f2f2f2;
    }

    .wishlist {
        .bcg-heart {
            background: #9e9e9e;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            z-index: 99;
            right: 25px;
            padding: 0 5px 5px;
            cursor: pointer;
        }

        i.icon.heart {
            font-size: 16px;
            margin: 0;
            padding: 0;
            line-height: initial;
        }
    }
}

.ui.top.right.attached.label.massive.wishlist {
    background: transparent;
}

.sku-options {
    .dropdown {
        .scrolling.menu {
            max-height: 7.8rem !important;
        }
    }
}

.ui.three.doubling.cards>.card,
.ui.four.doubling.cards>.card,
.ui.five.doubling.cards>.card,
.ui.six.doubling.cards>.card {
    @media screen and (max-width: $mobile-bp) {
        width: 50%;
        margin-left: .0;
        margin-right: .0;
    }
}