.infoBar {
	text-transform: uppercase;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 80px;

	@media screen and (min-width:768px) and (max-width:1024px) {
		display: none!important;
	}

	h3 {
		margin-bottom: 0;
		font-weight: bold;
		color:$primary-color;
		font-size: 14px;
	}

	.icon_place {
	  float: left;
	  width: 38px;
	  height: 100%;
	  margin-right: 10px;
	  margin-top: 10px;
	  margin-bottom: 10px;

	  .icon {
		font-size: 32px;
		line-height: 65px;
		float: left;
		height: 100%;
			color:$primary-color;
	  }
	}

	.text_place {
	  float: left;
	  width: calc(100% - 48px);
	  margin-top: 10px;
	  margin-bottom: 10px;
		font-size: 12px;
		color:#666;
		line-height: initial;
	}

	.row {
	  padding: 0px !important;
	}

	.ui.grid {
	  margin: 0px !important;
	}
  }
