.institucional {
    color: #000;
    font-family: 'Roboto', sans-serif;
    background: #fff;

    ul {
        list-style: none;
        padding: 0;
    }

    main {
        padding: 40px 0 60px;

        @media screen and (max-width: 769px) {
            padding: 40px 0 125px;
        }

        @media screen and (max-width: 490px) {
            padding: 30px 0 145px;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    h2 {
        font-size: 30px;
        text-transform: unset;
        font-weight: bold;
        color: #131313;

        &.title {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 769px) {
            line-height: 1;
        }
    }

    p {
        font-size: 18px;
        color: #131313;
        margin-bottom: 25px;
        line-height: 1.3;

        &.bold {
            font-weight: bold;
            margin-bottom: 0px;
        }

        span {
            display: block;
        }
    }

    a {
        color: #131313;
    }
}

.banner-institucional {
    padding: 0px;
    overflow: hidden;
    margin-bottom: 25px;

    @media screen and (max-width: 490px) {
        padding: 0px !important;
    }

    img {
        width: 100%;

        &.banner-mob {
            display: none;
        }

        @media screen and (max-width: 490px) {
            display: none;

            &.banner-mob {
                display: block;
            }
        }
    }
}

.menu-institucional {
    padding-left: 0;
    padding-top: 0px !important;

    @media screen and (max-width: 769px) {
        padding-left: 15px;
    }

    ul {
        background: #fff;
        padding: 0 0 25px;
        border: 1px solid #d2d2d2;

        @media screen and (max-width: 769px) {
            height: 60px;
            width: 240px;
            overflow: hidden;
            transition: all 300ms;
            padding: 0;
            border: 1px solid #bebebe;
            border-radius: 3px;
            background: #ededed;

            &.open-menu {
                height: 480px;
            }
        }

        @media screen and (max-width: 490px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    li {
        height: 35px;
        line-height: 35px;


        @media screen and (max-width: 769px) {
            border: 1px solid #dbdbdb;
            height: 60px;
            line-height: 60px;

            &.mob {
                position: relative;

                @media screen and (max-width: 769px) {

                    &:after {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-image: url('/assets/image/institucional/menu-institucional-seta.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        position: absolute;
                        top: 25px;
                        right: 15px;
                    }
                }
            }
        }

    }

    li,
    a {
        color: #343434;
        font-size: 14px;
        width: 100%;
        display: block;

        @media screen and (max-width: 769px) {
            color: #373737;
            font-size: 16px;

        }

        &.active {
            font-weight: bold;
            background: #ffee00;

            @media screen and (max-width: 769px) {
                background: transparent;
                font-weight: lighter;
            }
        }
    }

    a {
        padding-left: 10px;

        @media screen and (max-width: 769px) {
            padding-left: 15px;
        }
    }
}

.box-contato {
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
    padding: 10px 10px 15px;


    ul {
        padding: 0;
        list-style: none;
    }

    @media screen and (max-width: 769px) {
        padding: 30px 15px;
        margin-top: 60px;
        width: 500px;
        display: block;
        margin: 0 auto;
    }

    @media screen and (max-width: 490px) {
        width: 100%;
        margin-top: 45px;
    }

    p {
        &.name-box {
            font-size: 16px;
            font-weight: lighter;
            margin-bottom: 20px;
            color: #0f0f0f;
            font-weight: bold;

            @media screen and (max-width: 769px) {
                text-align: center;
            }

            @media screen and (max-width: 769px) {
                text-align: left;
            }
        }
    }

    a {
        color: #131313;
        font-weight: lighter;
    }

    li {
        margin-bottom: 25px;
        padding-left: 35px;
        position: relative;

        @media screen and (max-width: 490px) {
            padding-left: 30px;
            width: 100%;
        }

        p {
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: lighter;
            color: #5d5d5d;
        }

        a {
            font-size: 18px;
        }

        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        &.tel {
            &:before {
                background-image: url("/assets/image/institucional/phone-call.png")
            }
        }

        &.whats {
            &:before {
                background-image: url('/assets/image/institucional/whatsapp-logo.png');
            }
        }

        .tablet {
            @media screen and (max-width: 769px) {
                display: none;
            }
        }
    }

    .telefones {
        margin-bottom: 0;

        ul {
            padding: 0;
            list-style: none;
        }
    }

    .atendimento {
        margin-bottom: 50px;


        p {
            font-size: 14px;
            margin-bottom: 0px;
            color: #5d5d5d;
        }
    }

    .fale-conosco {

        @media screen and (max-width: 769px) {
            display: block;
            width: 230px;
            margin: 0 auto;
        }

        @media screen and (max-width: 490px) {
            width: 100%;
        }

        p {
            margin-bottom: 10px;

        }

        .name-box {
            color: #0f0f0f;
            font-size: 16px;
            font-weight: bold;
        }

        .btn-fale-conosco {
            width: 100%;
            height: 45px;
            background-color: #35a376;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 45px;
            display: block;
            text-align: center;
            font-weight: 600;
            border-radius: 2px;
            cursor: pointer;
        }
    }


}

.box-form {
    background: #fff;
    padding: 30px 30px 20px;
    margin-bottom: 75px;
    box-shadow: 0px 2px 5px #e5e5e5;
    -moz-box-shadow: 0px 2px 5px #e5e5e5;
    -webkit-box-shadow: 0px 2px 5px #e5e5e5;

    @media screen and (max-width: 490px) {
        padding: 15px;
    }


    form {
        display: inline-block;
        padding: 0;
    }

    label {
        margin-bottom: 10px;
        display: block;
        font-size: 14px;
    }

    input,
    select {
        width: 100%;
        height: 40px;
        border: 1px solid #dbdbdb;
        padding-left: 15px;
        font-size: 12px;
        color: #6d6d6d;
        box-shadow: 0px 1px 2px #e5e5e5;
        -moz-box-shadow: 0px 1px 2px #e5e5e5;
        -webkit-box-shadow: 0px 1px 2px #e5e5e5;

        &::placeholder {
            font-size: 12px;
            color: #6d6d6d;
        }
    }

    select {
        padding-left: 5px;

    }

    option {
        font-size: 12px;
        color: #6d6d6d;
    }

    .mensagem {
        textarea {
            height: 100px;
            width: 100%;
            padding-top: 15px;
            padding-left: 15px;
            border: 1px solid #dbdbdb;
            box-shadow: 0px 1px 2px #e5e5e5;
            -moz-box-shadow: 0px 1px 2px #e5e5e5;
            -webkit-box-shadow: 0px 1px 2px #e5e5e5;

            &::placeholder {
                font-size: 12px;
                color: #6d6d6d;
            }
        }
    }

    .width-col-1 {
        width: 35%;
        margin-right: 4%;
        display: inline-block;

        @media screen and (max-width: 490px) {
            width: 100%;
            margin-right: 0;
        }
    }

    .width-col-2 {
        width: 60%;
        display: inline-block;

        @media screen and (max-width: 490px) {
            width: 100%;
        }
    }

    .btn-enviar {
        width: 145px;
        height: 40px;
        background-color: #35a376;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        float: right;
        padding-left: 0px;
        border-radius: 3px;

        @media screen and (max-width: 490px) {
            width: 100%;
            float: none;
        }
    }

}

.modal-fale-conosco {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 0;
    transform: all 300ms;
    display: none;

    &.active {
        display: block;
        opacity: 1;
    }

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: -1;

        @media screen and (max-width: 640px) {
            background-color: rgba(255, 255, 255, 1);
        }
    }

    .box-form-modal {
        width: 410px;
        display: block;
        margin: 0 auto;
        padding-top: 20px;

        @media screen and (max-width: 640px) {
            width: 90%;
            padding-top: 10%;
        }
    }

    .button-close {
        font-size: 14px;
        color: #000000;
        cursor: pointer;
    }

    .button-close {
        color: #000000;
    }

    p {
        margin-bottom: 15px;
    }

    form {
        background: #fff;
        margin-top: 20px;
        width: 100%;
        padding: 15px 30px;

        @media screen and (max-width: 640px) {
            padding: 15px;
        }

        label {
            color: #272727;
            font-size: 16px;
            display: block;
            font-weight: bold;
            margin-bottom: 0px;
        }

        input,
        textarea,
        select {
            width: 100%;
            padding-left: 15px;
            border: 1px solid #dbdbdb;
            color: #7e7e7e;

            &::placeholder {
                font-size: 14px;
                color: #7e7e7e;
            }
        }

        input,
        select {
            height: 40px;
            font-size: 14px;
            line-height: 42px;
        }

        option {
            font-size: 14px;
            color: #726e6e;
        }

        textarea {
            padding-top: 15px;
            height: 100px;
            font-size: 14px;
        }
    }

    .buttons {
        display: inline-block;
        width: 100%;

        span {
            display: block;
            float: left;
            width: 90px;
            height: 30px;
            font-size: 12px;
            color: #575757;
            border: 1px solid #bebebe;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
        }

        button {
            width: 160px;
            height: 30px;
            font-size: 12px;
            background-color: #00a574;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            line-height: 30px;
            float: right;
            border: none;
            cursor: pointer;
        }
    }
}

// pÃ¡ginas
.trocas-e-devolucoes {
    .text {
        ul {
            padding: 0px;
        }

        li {
            font-size: 14px;
            color: #131313;
            list-style: circle;
            list-style: circle;
            padding-left: 15px;
            margin-left: 15px;
        }
    }
}

.quem-somos {
    .text {
        .missao {
            margin-bottom: 60px;
        }
    }
}

.frete-gratis {
    p {
        b {
            font-size: 18px;
        }

        &.descricao {
            margin-bottom: 40px;
        }
    }

    table {
        width: 100%;

        td {
            padding-left: 10px;
            font-size: 16px;
            height: 35px;
            line-height: 35px;
        }

        thead {
            background: #ededed;

            th {
                font-size: 18px;
                font-weight: bold;
                padding: 0 10px;
                height: 35px;
                line-height: 35px;
            }
        }

        tbody {
            tr {
                &:nth-child(2n) {
                    background: #f6f6f6;
                }
            }
        }
    }
}

.duvidas-frequentes {
    display: block !important;

    .text {
        p {
            margin-bottom: 0;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
        }

        span {
            display: block;
        }

        ul {
            list-style: none;
            padding: 0;

        }

        li {
            margin-bottom: 15px;
            font-size: 16px;
            height: 20px;
            overflow: hidden;
            transition: all 300ms;

            &:before {
                display: inline-block;
                content: '';
                width: 10px;
                height: 10px;
                background-image: url('/assets/image/institucional/seta-institucional.png');
                margin: 0 5px 2px 0;
                background-repeat: no-repeat;
                background-size: 100%;
                transition: all 300ms;
            }

            &.open-text {
                height: auto;
                margin-bottom: 45px;

                &:before {
                    transform: rotate(175deg);
                }
            }
        }
    }
}