.tipbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    @media screen and (max-width:$mobile-bp) {
        margin: 0 0;

        li {
            text-align: center;
        }
    }
}

.zEWidget-launcher.zEWidget-launcher--active {
    z-index: 9!important;
}

.banner_mobile {
    @media screen and (min-width:$mobile-bp) {
        display: none !important;
    }
}

@media screen and (max-width:$mobile-bp) {
    .banner_desktop {
        display: none !important;
    }

    .banner_mobile {
        display: block;

        .slick-arrow {
            background-color: transparent !important;
            box-shadow: none !important;
            padding: 0;

            &.slick-prev,
            &.slick-next {
                background-image: url(/assets/image/ico-arrow-left.png);
            }
        }

        .slick-dots {
            margin-top: -40px;

            li {
                width: 12px;
                height: 12px;

                button {
                    &:before {
                        display: none;
                    }

                    width: 12px;
                    height: 12px;
                    border-radius: 50px;
                    background-color: white;
                }
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.centralBanner {
    @media screen and (max-width:$mobile-bp) {
        .grid {
            .column {
                padding: 0 !important;

                a {
                    display: block;

                    img {
                        width: 100%;
                        height: auto;

                        @media screen and (max-width:$mobile-bp) {
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
    }

    .column_2 {
        a {
            &:first-child {
                display: block;

                @media screen and (min-width:$mobile-bp) {
                    margin-bottom: 23px;
                }
            }
        }
    }
}

@media screen and (max-width:$mobile-bp) {
    .ui.horizontal.divider:not(.avaliacao):not(.hidden) {
        width: 100%;
    }

    .ui.horizontal.divider:not(.avaliacao):not(.hidden)>span,
    .ui.horizontal.divider:not(.avaliacao):not(.hidden)>a {
        float: none !important;
        width: 100%;
        text-align: center;
        font-size: 22px;
    }
}

.main_banner {
    position: relative;
    height: 420px;
    margin-bottom: 35px;

    .box {
        position: absolute;

        &:nth-child(1) {
            top: 0;
            left: 0;
        }

        &:nth-child(2) {
            top: 0;
            right: 300px;
        }

        &:nth-child(3) {
            bottom: 0;
            right: 300px;
        }

        &:nth-child(4) {
            right: 0;
            bottom: 0;
        }

        &:nth-child(5) {
            top: 0;
            right: 0;
        }
    }
}

#nosso_blog {
    position: relative;
    padding: 20px 0;
    background-color: #f6f6f6;

    h2 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;

        @media screen and (max-width:$mobile-bp) {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    ul {
        width: 100%;
        max-width: 1320px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;

        @media screen and (max-width:$mobile-bp) {
            margin-bottom: 40px;
        }

        .slick-slide {
            margin: 0 15px;
        }

        .slick-list {
            margin: 0 -30px;

            @media screen and (max-width:$mobile-bp) {
                margin: 0 -10px;
            }
        }

        li {
            width: 270px;
            border: 2px solid #dcdcdc;
            background-color: #fff;
            border-radius: 3px;
            padding: 10px;
            margin: 0 15px;

            @media screen and (max-width:$mobile-bp) {
                margin: 0 2.5px;
                text-align: center;
            }

            figure {
                position: relative;
                overflow: hidden;
                height: 165px;
                margin: 0;

                @media screen and (max-width:$mobile-bp) {
                    height: 200px;
                }

                img {
                    position: absolute;
                    overflow: hidden;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            h3 {
                height: 60px;
                font-size: 20px;
                font-weight: 400;
                line-height: 20px;
                margin: 10px 0 60px;
            }

            a {
                color: #35a376;
                font-size: 14px;
                font-weight: bold;
                float: right;
            }
        }
    }

    .slick-arrow {
        @media screen and (max-width:$mobile-bp) {
            top: 35%;
        }
    }
}