.header_1,
.wsmenu-list .megamenu,
.menuheader .ui.menu li:last-child .megamenu a {
    background-color: #000;
}

nav a[href="/categoria/esquenta-black-friday"] {
    height: 100%;
    margin: 0;
    color: #000!important;
}

.header_1 .row_1 .column_3>ul li.hover .box:after {
    display: none;
}

.menuheader .ui.menu li:last-child .megamenu a,
div.column_1,
li.hover:nth-child(1)>div:nth-child(2)>p:nth-child(2)>small:nth-child(1),
.wsmenu *,
novo a:hover,
div.box a,
.call_email {
    color: white;
}

footer ul p.fs-13,
.header_1 .row_1 .column_3>ul li.hover .box .alert {
    color: red;
}

.menuheader {
    background-color: #212121;
}

.mobile-sub.wsmenu-list.ui.menu a.item {
    color: rgb(167, 167, 167);
}

.mobile-sub.wsmenu-list.ui.menu a.item svg {
    fill: rgb(167, 167, 167);

}

.header_1 .row_1 .column_3>ul li svg {
    fill: white;
}

.tipbar li p,
li.hover.mobile-hide span,
ul.tipbar li {
    color: #fade2a;
    -webkit-text-fill-color: #fade2a;
}

div.container:nth-child(4) {
    background-color: black;
    padding: 14px;
}

footer .row-1 {
    padding: 30px 0 15px;
    background-color: #000;
    color: #fff;
}

.bg_preto {
    width: 100%;
    height: 670px;
    display: block;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body.pushable>.pusher {
    background: transparent;
}

body.pushable {
    background: transparent !important;
}

span.open_orcamento {
    color: white;
    border: 2px solid white;
}

.header_1 .row_1 .column_3>ul li.hover>p span::after {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.mobile-sub>li>div {
    background-color: black;
    color: white;
}

.header_1 .row_1 .column_3>ul li.hover .box {
    background-color: black;
    color: white;
}

.wsmenu .wsmenu-list > li:last-child {    
    order: -1;    
}

.header_1 .row_1 .column_3 span {
    color: white;
    -webkit-text-fill-color: white;
    
}

@media only screen and (max-width: 900px) {

    .wsmenu .wsmenu-list {
        display: flex !important;

       }
       
    .header_1 .row_1 .column_0 #wsnavtoggle span {
        width: 100%;
        height: 2px;
        display: block;
        background-color: white;
        margin-bottom: 5px
    }

    .menuheader .ui.menu li:last-child a {
        background-color: #fade2a;
    }

    .megamenu .go_back {
         background: #e7b94f !important;
    }

    .bg_preto {
        height: 300px;
    }

    .mobile-sub>li {
        background-color: #111111;
    }

    .titleMenu {
        background-color: #181818 !important;
    }

    .menu_apoio.desktop-hide {
        background-color: #181818;
    }

    div.li-item.sixteen.wide.mobile.eight.wide.tablet.four.wide.computer.column {
        background-color: black;
    }

    .menu_apoio>p {
        color: white;
    }

    .open_orcamento {
        color: #fade2a;
        border: 2px solid #fade2a;
    }

    footer .row-1 .toggle.active .title,
    footer .row-1 .toggle.active ul {
        background-color: black;
    }

    body::before {
        height: 220px;
        content: "";
        display: block;
        background-color: #000;
        top: 0;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .equal>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
        background-color: white;
    }

    .equal>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
        background-color: white;
    }

    div.topsellers:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1) {
        background-color: white;
    }

    div.performa-vitrine-title span {
        margin-left: 55px;

    }

    #pfm_ir6qw1uz6ydidcme>div:nth-child(1)>div:nth-child(1)>span:nth-child(1) {
        margin-left: 95px;
    }
}


#mauticform_wrapper_popupcaptacaoesquentabf {
    width: 600px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -250px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 300ms;
    background-color: black;
    z-index: 9;
}
#mauticform_wrapper_popupcaptacaoesquentabf.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
div#mauticform_wrapper_popupcaptacaoesquentabf fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
#mauticform_wrapper_popupcaptacaoesquentabf form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#mauticform_wrapper_popupcaptacaoesquentabf form .column_1,
#mauticform_wrapper_popupcaptacaoesquentabf form .column_2 {
    width: 50%;
    height: 100%;
}

#mauticform_wrapper_popupcaptacaoesquentabf form .column_2 h1{
    text-transform: uppercase;
    color: #fade2a;
    text-align: center;
}

#mauticform_wrapper_popupcaptacaoesquentabf form .column_2 h1 span{
    text-transform: uppercase;
    color: #fff;
    font-size: 2.2rem;
}

.newsletter_desk{
    display: none;
}

.box_newsletter{
    background-color: white !important;
}

.box_newsletter .form_contact p{
    color: black !important;
}

@media screen and (min-width:768px) {
    
    .box_newsletter .form_contact{
        justify-content: center;
    }
    
    .box_newsletter .form_contact .column_2{
        width: 45% !important;
    }

}