#overlay {
	display: none;
	background-color: rgba(210, 210, 210, 0.37);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	&.active {
		display: block;
	}
}

.open_orcamento {
	width: 100%;
	max-width: 200px;
	height: 27px;
	line-height: 24px;
	color: #000460;
	border: 2px solid #000460;
	font-weight: bold;
	text-align: center;
	border-radius: 50px;
	margin-right: 20px;
	font-size: 14px;

	@media screen and (max-width:$mobile-bp) {
		max-width:100%;
		margin-right:0;
		font-size: 16px;
		height: 35px;
		line-height: 34px;
		margin-bottom: 15px;
		display: block;
	}
}

#send_orcamento {
	position: fixed;
	z-index: 10;
	background-color: #fff;
	width: 550px;
	left: 50%;
	margin-left: -275px;
	top: 10%;
	display:none;

	@media screen and (max-width:$mobile-bp) {
		top:5%;
		height: 90%;
		overflow-x:hidden;
	}

	&.active {
		display:block;
	}

	@media screen and (max-width:$mobile-bp) {
		width: calc(100% - 30px);
		left: 15px;
		margin-left: 0;
	}

	.content {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.close {
			background-color: #c2c2c29e;
			border-radius: 50px;
			color: #000;
			width: 25px;
			height: 25px;
			text-align: center;
			line-height: 25px;
			font-size: 18px;
			display: block;
			cursor: pointer;
			position: absolute;
			right: -8px;
			top: -8px;

			@media screen and (max-width:$mobile-bp) {
				top:0;
				right:0;
			}
		}

		.column_1,
		.column_2 {
			@media  screen and (max-width:$mobile-bp) {
				width: 100%!important;;
			}
		}
	
		.column_1 {
			width: 40%;
			height: 489px;
			display: block;
			padding: 20px;
			background-image: url(/assets/image/bg_popup_orcamento.jpg);
	
			@media screen and (max-width:$mobile-bp) {
				height:100px;
				background-size: 100%;
				background-image: url(/assets/image/bg_popup_orcamento_mob.jpg);
			}
	
			p {
				font-size: 32px;
				line-height: 32px;
				color: white;
				font-weight: bold;
	
				@media screen and (max-width:$mobile-bp) {
					max-width: 250px;
					font-weight: 400;
				}
			}
		}
	
		.column_2 {
			width: 60%;

			.success {
				display: none;

				p {
					margin: 50px 15px;
					font-size: 19px;
					text-align: center;

					small {
						display: block;
					}
				}
			}
	
			form {
				fieldset {
					padding: 15px;
					border: 0;
	
					label {
						display: block;
						margin-bottom: 15px;
	
						strong {
							i {
								color: red;
							}
						}
	
						input,
						textarea {
							border: 1px solid #dcdcdc;
							border-radius: 3px;
							background-color: #f5f5f5 !important;
						}
	
						input {
							width: 100%;
							height: 40px;
							text-indent: 15px;
						}
	
						textarea {
							width: 100%;
							height: 70px;
							resize: none;
						}
					}
	
					input[type="submit"] {
						width: 100%;
						height: 50px;
						color: #fff;
						border: none;
						background-color: #21ba45;
						box-shadow: 0px 3px 9px 3px #dcdcdc;
						font-size: 18px;
						font-weight: 400;
						cursor: pointer;
						appearance: none;
						-webkit-appearance: none;

						&.loading {
							font-size: 0;
							background-size: 40px;
							background-position: center;
							background-repeat: no-repeat;
							background-image: url(/assets/image/icones/loading_white.gif);
						}
					}
				}
			}
		}
	}
}

#mauticform_wrapper_popupcaptacao {
	width: 550px;
	margin: 10px auto;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	background-color: transparent;
	margin-left: -275px;
	height: 300px;
	margin-top: -150px;
	padding: 10px;
	background-repeat: no-repeat;
	background-image: url(/assets/image/bg_pop_up.jpg);
	background-position: center;
	background-size: 680px;
	z-index: 11;
	display: none;

	&.active {
		display: block;
	}

	@media screen and (max-width:$mobile-bp) {
		width: calc(100% - 30px);
		left: 15px;
		margin-left: 0;
		background-position: top left;
		background-size: 600px;
	}

	.close_pop_up {
		float: right;
		background-color: #c2c2c29e;
		border-radius: 50px;
		color: #000;
		width: 25px;
		height: 25px;
		text-align: center;
		margin-top: -20px;
		margin-right: -22px;
		line-height: 25px;
		font-size: 18px;
		cursor: pointer;
	}


	form {
		width: 100%;
		height: 100%;
		padding-top: 25px;

		fieldset {
			width: 100%;
			padding: 0;
			border: none;

			&.column_1 {
				p {
					font-size: 16px;
					line-height: 25px;
					color: white;
					text-align: center;
					margin: 20px auto;
					
					strong {
						color: orange;
					}

					@media screen and (max-width:$mobile-bp) {
						line-height: 21px;
						max-width: 90%;
						margin: 0px auto 20px auto;
					}
				}

				.inputs {
					max-width: 90%;
					margin: 0 auto;

					@media screen and (max-width:$mobile-bp) {
						max-width: 90%;
					}

					input[type="email"] {
						width: 100%;
						height: 35px;
						border: 1px solid #dcdcdc;
						border-radius: 5px;
						text-indent: 10px;
						background-color: #fff;
					}

					input[type="submit"] {
						width: 90px;
						height: 35px;
						color: #5d6c7c;
						background-color: #ffffff;
						border: 1px solid #dcdcdc;
						border-radius: 5px;
						margin-top: 15px;
						font-size: 13px;
						font-weight: bold;
						float: right;
						cursor: pointer;
					}
				}

			}

			&.column_2 {
				display: none;
				text-align: center;

				@media screen and (min-width:$mobile-bp) {
					padding-top: 70px;
				}

				h4 {
					font-size: 28px;
					line-height: 28px;
					color: orange;
				}

				p {
					color: white;
				}
			}
		}
	}
}

.box_newsletter {
	background-color: #f5f5f5;

	.form_contact {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.column_1 {
			width: 35%;
			display: flex;
			align-items: center;

			@media screen and (max-width:$mobile-bp) {
				width: 100%;
			}

			p {
				@media screen and (min-width:$mobile-bp) {
					margin-left: 15px;
				}

				@media screen and (max-width:$mobile-bp) {
					width: 100%;
					text-align: center;
					margin-bottom: 20px;
				}

				span {
					display: block;
					font-size: 18px;

					@media screen and (max-width:$mobile-bp) {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 5px;

						&:before {
							width: 36px;
							height: 33px;
							content: '';
							background-image: url(/assets/image/ico-mail.png);
							display: inline-block;
							margin-right: 10px;
						}
					}
				}

				small {
					font-size: 14px;
					font-weight: 400;
				}
			}
		}

		.column_2 {
			width: 65%;

			@media screen and (max-width:$mobile-bp) {
				width: 100%;
			}

			input[type="text"] {
				width: 330px;
				height: 40px;
				border: 1px solid #dcdcdc;
				box-shadow: 0px 2px 0px 0px #dcdcdc;
				border-radius: 3px;
				text-indent: 10px;
				margin-right: 15px;

				@media screen and (max-width:$mobile-bp) {
					width: 100%;
					margin-bottom: 10px;
				}
			}

			button {
				width: 135px;
				height: 40px;
				border: none;
				color: white;
				font-size: 13px;
				font-weight: bold;
				background-color: #21ba45;
				text-transform: uppercase;
				cursor: pointer;

				@media screen and (max-width:$mobile-bp) {
					float: right;
				}
			}
		}
	}
}

footer {
	#jetLogo {
		width: 50px;
		height: 35px;
	}

	#jetLogo .st0 {
		fill: #3d3d49 !important;
	}

	.selos {
		a {
			margin-right: 10px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			a {
				color: #fff;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	.row-1 {
		padding: 30px 0 15px;
		background-color: #091330;
		color: #fff;

		@media screen and (max-width:$mobile-bp) {
			padding: 10px 0 15px;
		}

		.sixteen {
			@media screen and (max-width:$mobile-bp) {
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		}

		.toggle {
			@media screen and (max-width:$mobile-bp) {
				border-bottom: 1px solid #777777;
				margin-left: -15px;
				margin-right: -15px;
				padding-left: 15px;

				&.active {

					ul,
					.title {
						background-color: #000b2d;
					}

					.title {
						@media screen and (max-width:$mobile-bp) {
							&:after {
								transform: rotate(45deg);
							}
						}
					}
				}
			}
		}

		.title {
			font-weight: bold;

			@media screen and (max-width:$mobile-bp) {
				margin-right: -15px;
				margin-left: -15px;
				margin-bottom: 0;
				text-indent: 15px;
				font-size: 18px;
				height: 55px;
				line-height: 55px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:after {
					content: '';
					width: 8px;
					height: 8px;
					border-right: 2px solid white;
					border-bottom: 2px solid white;
					margin-right: 35px;
					transform: rotate(-45deg);
					display: block;
					transition: all 300ms;
				}
			}
		}

		ul {
			@media screen and (max-width:$mobile-bp) {
				margin-right: -15px;
				margin-left: -15px;
				text-indent: 15px;
				display: none;
			}

			li {
				padding-bottom: 15px;

				p {
					a {
						display: block;
						color: #fff;
						font-weight: bold;
					}
				}
			}
		}

		.midias {
			@media screen and (max-width:$mobile-bp) {
				margin: 30px 0 5px;
			}

			.title {
				@media screen and (max-width:360px) {
					font-size: 14px;
				}

				@media screen and (max-width:$mobile-bp) {
					&:after {
						display: none;
					}
				}
			}

			@media screen and (max-width:$mobile-bp) {
				.title {
					width: 60%;
					height: 35px;
					line-height: 35px;
					float: left;
				}

				ul {
					width: 40%;
					float: right;
				}
			}

			ul {
				display: flex;

				li {
					margin-right: 10px;

					@media screen and (max-width:$mobile-bp) {
						margin-bottom: 0;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.row-2 {
		padding: 25px 0;

		.title {
			@media screen and (max-width:$mobile-bp) {
				text-align: center;
			}
		}

		ul,
		.paymentcards.formas-pagamento {
			@media screen and (max-width:$mobile-bp) {
				justify-content: center;
			}
		}

		ul {
			display: flex;
			align-items: center;

			li {
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.row-3 {
		padding: 10px 0;
		margin-top: 10px;
		border-top: 1px solid #dcdcdc;
		text-align: center;

		P {
			font-size: 13px;

			@media screen and (max-width:$mobile-bp) {
				font-size: 11px;
			}
		}
	}
}

//FIM - NEWS

.no-padding {
	@media screen and (min-width:$mobile-bp) {
		padding: 0 !important;
	}
}