﻿@model List<DomainCompany.Entities.Faq>

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">

@{
    ViewBag.Title = "Perguntas Frequentes";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumb.cshtml";
}

@section breadcrumbs {
    <!-- <div class="ui container">
        <div class="ui two column grid stackable middle aligned">
            <div class="row">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div> -->
}

<main class="instituicional duvidas-frequentes">
    <div class="ui container">
        <div class="ui grid">
            <div class="banner-institucional sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                <img src="/assets/image/institucional/banner-institucional.jpg" alt="" />
                <img class="banner-mob" src="/assets/image/institucional/banner-institucional-mob.jpg" alt="" />
            </div>
            <nav class="menu-institucional three wide computer nine wide tablet sixteen wide mobile column">
                <ul>
                    <li><a href="/institucional/11/63">Quem Somos</a></li>
                    <li><a href="/institucional/11/64">Política de Segurança</a></li>
                    <li><a href="/institucional/11/194">Política de Privacidade</a></li>
                    <li><a href="/institucional/12/65">Formas de Entrega</a></li>
                    <li><a href="/institucional/12/68">Trocas e Devoluções</a></li>
                    <li><a href="/institucional/12/3272">Frete Grátis SP</a></li>
                    <li><a href="/Company/CommonQuestions">Dúvidas Frequentes</a></li>
                </ul>
            </nav>
            <div class="nine wide computer sixteen wide tablet sixteen wide mobile column text">
                <h2 class="title">Dúvidas Frequentes</h2>

                <ul>
                    @if (Model != null){
                        foreach (var faq in Model){
                            <li>
                                <p> @faq.Question </p>
                                <span> @faq.Answer </span>
                            </li>
                        }
                    }
                </ul>
            </div>
          <div class="four wide computer sixteen wide tablet sixteen wide mobile column">
                    <div class="box-contato">
                        <p class="name-box">Fale Conosco</p>
                        <ul class="telefones">
                            <li class="tel">
                                <p class="title">SAC:</p>
                                <span class="telefone"><a href="tel:551142001309">(11) 4200-1309</a></span>
                            </li>
                            <li class="whats">
                                <p class="title">Whatsapp</p>
                                <span class="telefone"><a href="https://api.whatsapp.com/send?phone=551142001309&text=sua%20mensagem&source=&data=">(11) 4200-1309</a></span>
                            </li>
                        </ul>
                        <div class="atendimento">
                            <p>Atendimento de Segunda à Sexta </br>
                                das 08:00 às 17:00</p>
                        </div>

                        <div class="fale-conosco">
                            <p class="name-box">Não encontrou o que
                                procura?</p>
                            <a href="/fale-conosco" class="btn-fale-conosco">Tire suas dúvidas</a>
                        </div>
        
                    </div>
            </div>
        </div>
    </div>
</main>