﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Count() > 0)
{

    List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
    List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();

    if (bannerRandom.Any())
    {

        <div class="ui fluid container car-banners slideshow banner_desktop" data-qtd="1" data-auto="true" data-arrow="true" data-dots="false">
            @foreach (var randombanner in bannerRandom)
            {
                <div class="container">
                    <div class="image">
                        <a href="@randombanner.Link" title="@randombanner.Name">
                            <img src="/assets/image/img_default.png" data-src="@randombanner.NameFileImage" class="ui image centered" alt="@randombanner.Name" title="@randombanner.Name" onerror="imgError(this)" />
                        </a>
                    </div>
                    @if (!string.IsNullOrEmpty(randombanner.Description.Trim()))
                    {
                        <div class="description">
                            <div class="html">@Html.Raw(randombanner.Description)</div>
                        </div> 
                    }
                    
                </div>
            }
        </div>
    }
    if (bannerNoRandom.Any())
    {
        <div class="ui container car-banners banner_desktop" data-qtd="1" data-auto="true" data-arrow="true" data-dots="false">
            <section class="main_banner">
                @foreach (var banner in bannerNoRandom)
                {
                    <div class="box">
                        <div class="image">
                            <a href="@banner.Link" title="@banner.Name">
                                <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui image centered" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)" />
                            </a>
                        </div>
                        @if (!string.IsNullOrEmpty(banner.Description.Trim()))
                        {
                            <div class="description">
                                <div class="html">@Html.Raw(banner.Description)</div>
                            </div> 
                        }
                    </div>
                }
            </section>
        </div>
    }
}
