﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
    <div class="ui container fluid sideBanner">
        <div class="ui container">
            <div class="ui grid two column middle aligned center aligned stackable">
                <div class="column thirteen wide">
                    <div class="ui grid equal width stackable">
                        @{
                            var contador = 0;
                            foreach (var banner in Model)
                            {
                                <div class="column">
                                    <a href="@banner.Link" title="@banner.Name">
                                        <img src="@banner.NameFileImage" alt="@banner.Name" onerror="imgError(this)">
                                    </a>
                                </div>
    
                                contador++;
    
                                if (contador >= 3)
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
                <div class="column three wide">
                    <div class="ui grid one column">
                        @{
                            contador = 0;
                            foreach (var banner in Model)
                            {
                                contador++;

                                if (contador > 3)
                                {
                                    <div class="column">
                                        <a href="@banner.Link" title="@banner.Name">
                                            <img src="@banner.NameFileImage" alt="@banner.Name" onerror="imgError(this)">
                                        </a>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}