﻿@model List<DomainCheckout.Entities.Shipping>
@if (Model != null)
{
    <select class="ui dropdown tabela frete" id="GetShipping">
        @foreach (var item in Model)
        {
            if (item.ShippingMode != null)
            {
                int IdShippingMode = item.ShippingMode.IdShippingMode;
                bool DeliveredByTheCorreiosService = @item.ShippingMode.DeliveredByTheCorreiosService ? true : false;

                <option value="@IdShippingMode" id="ship_@IdShippingMode" data-correios="@string.Format("{0}", DeliveredByTheCorreiosService)" data-carrier="@item.ShippingMode.carrier" data-mode="@item.ShippingMode.mode" data-hub="@item.ShippingMode.hub">
                    @if (item.ShippingMode.ScheduledDelivery)
                    {
                        @Html.Raw(item.ShippingMode.Name + " (*) - " + string.Format("{0:c}", item.ValueShipping == 0 ? "Frete Grátis" : item.ValueShipping.ToString("C")))
                    }
                    else
                    {
                        @Html.Raw(item.ShippingMode.Name + " (" + item.ShippingMode.DeliveryTime + " dia(s)" + 
                        string.Format("{0}", ((item.ShippingMode.DeliveryTime > 0 || item.ShippingMode.DeliveryTime == 0)) ? " úteis) -" : " útil) -") + 
                        string.Format(" {0:c}", item.ValueShipping == 0 ? "Frete Grátis" : item.ValueShipping.ToString("C")))
                    }
                    @*@item.ShippingMode.Name (@item.ShippingMode.DeliveryTime dia(s) úteis) - @string.Format("{0:c}", item.ValueShipping == 0 ? "Frete Grátis" : item.ValueShipping.ToString("C"))*@ 
                </option>
            }
        }
    </select>
}
else
{
    <div class="ui left aligned compact message form-message error" style="display: block;">
        <p>@Html.Raw(ViewBag.ZipMessage)</p>
    </div>
    <br>
}