.header_1 {
    padding: 10px 0 20px;

    @media screen and (max-width:$mobile-bp) {
        padding: 10px 0;
    }

    .row_0 {
        margin-bottom: 10px;
        display:flex;
        justify-content: flex-end;

        @media screen and (max-width:$mobile-bp) {
            display: none;
        }
        
        .ico_whatsapp {
            width: 170px;
            height: 27px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            color: white;
            background-color: #21ba45;
            border-radius: 50px;

            svg {
                width: 20px;
                height: 20px;
                fill: white;
                margin-right: 10px;
            }
        }

    }

    .row_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .column_0 {
            @media screen and (max-width:1024px) {
                width: 10%;

                #wsnavtoggle {
                    display: block;
                    padding-top: 15px;

                    span {
                        width: 100%;
                        height: 2px;
                        display: block;
                        background-color: #000;
                        margin-bottom: 5px;

                        &:last-child {
                            width: 80%;
                        }
                    }
                }
            }
        }

        .column_1 {
            width: 30%;

            @media screen and (max-width:$mobile-bp) {
                width: 70%;

                a {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    img {
                        width: 80%;
                    }
                }
            }
        }

        .column_2 {
            width: 40%;

            @media screen and (max-width:$mobile-bp) {
                width: 100%;
            }

            .category.search {
                input[type="text"] {
                    width: 90%;
                    height: 45px;
                    text-indent: 30px;
                    border-radius: 3px;
                    border: 1px solid #dcdcdc;
                    background-image: url(/assets/image/ico-lupa.png);
                    background-repeat: no-repeat;
                    background-position: 10px;
                }

                .button-search {
                    background: transparent;
                    border: none;
                    font-weight: bold;
                    color: green;
                    float: right;
                    margin-top: -32px;
                    position: relative;
                    z-index: 1;
                    margin-right: 50px;
                    border-left: 1px solid #dcdcdc;
                    cursor: pointer;
                }
            }
        }

        .column_3 {
            width: 30%;

            @media screen and (max-width:$mobile-bp) {
                width: 20%;
            }

            &>ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    &.call_to_whatsapp {
                        a {
                            width: 30px;
                            height: 30px;
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #21ba45;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    &.hover {
                        position: relative;

                        &:hover {
                            .box {
                                display: block;
                            }
                        }

                        &>p {
                            display: flex;
                            align-items: center;
                            margin-bottom: 0;
                            cursor: pointer;
                            height: 45px;

                            svg {
                                margin-right: 10px;
                            }

                            span {
                                font-size: 14px;
                                font-weight: 400;

                                &:after {
                                    width: 6px;
                                    height: 6px;
                                    display: block;
                                    content: '';
                                    border-right: 1px solid gray;
                                    border-bottom: 1px solid gray;
                                    float: right;
                                    position: relative;
                                    right: -10px;
                                    bottom: -4px;
                                    transform: rotate(45deg);
                                }
                            }
                        }

                        .box {
                            display: none;
                            position: absolute;
                            background: white;
                            box-shadow: 0px 0px 6px 3px #dcdcdc;
                            padding: 10px;
                            z-index: 3;
                            right: -20px;

                            &:after {
                                content: '';
                                width: 10px;
                                height: 10px;
                                display: block;
                                float: right;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 7px 15px 7px;
                                border-color: transparent transparent #ffffff transparent;
                                margin-top: -24px;
                            }

                            &:hover {
                                display: block;
                            }

                            p {

                                strong,
                                span {
                                    display: block;
                                }

                                small {
                                    font-size: 14px;
                                    color: #858585;
                                }
                            }

                            .call_email {
                                margin: 30px 0;
                                display: block;
                            }

                            .call_whatsapp {
                                color: #35a376;
                                font-weight: bold;
                            }

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;

                                li {
                                    margin-bottom: 10px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    .cartbutton {
                        .ico_cart {
                            position: relative;

                            svg {
                                @media screen and (max-width:$mobile-bp) {
                                    width: 30px !important;
                                    height: 30px !important;
                                }
                            }

                            #total_itens_card {
                                width: 17px;
                                height: 17px;
                                display: block;
                                background: #e7b94f;
                                line-height: 18px;
                                border-radius: 50px;
                                text-indent: 2px;
                                font-size: 10px;
                                position: absolute;
                                top: 0;
                                right: -8px;
                            }
                        }
                    }
                }
            }
        }

        .column_4 {
            @media screen and (max-width:$mobile-bp) {
                width: 100%;
                margin-top: 10px;
            }

            .searchMobile {
                @media screen and (max-width:$mobile-bp) {
                    input[type="text"] {
                        text-indent: 30px;
                        border-radius: 2px;
                        background-image: url(/assets/image/ico-lupa.png);
                        background-repeat: no-repeat;
                        background-position: 15px;
                    }

                    button {
                        height: 25px;
                        border: none;
                        color: #35a376;
                        background-color: transparent;
                        border-left: 1px solid #dcdcdc;
                        font-size: 16px;
                        font-weight: bold;
                        margin-top: 6px;
                        padding-left: 10px;
                        margin-left: -75px;
                    }
                }
            }
        }
    }
}