.topbar {
  border-bottom: 1px solid #EEEEEE;
  color: #666666;
  line-height: 30px;

  @media screen and (max-width:$mobile-bp) {
    display: none!important;
  }

  a {
    &.whats {
      background: $green;
      border-radius: 30px;
      font-weight: 700;
      font-size: 12px;
      margin: 0;
      padding: 4px 15px;
      @media screen and (max-width: $mobile-bp) {
        font-size: 11px;
      }
      
    }
  }


  .list {

    line-height: initial;

    >.item {
      padding-top:0 !important;
      padding-bottom:0 !important;
      line-height: initial !important;

      @media screen and (max-width: $mobile-bp) {
        &:not(:last-child) {
          padding-right: .7rem !important;
        }
        
      }

      i {
        color:#332B24;
        font-size:18px;
      }

      a {
        color:#666666;
        font-size:13px;
        text-transform: uppercase;
      }

    }



    span.text,
    .menu {
      @media screen and (max-width: $mobile-bp) {
        display: none;
      }
    }
  }

  .ui.pointing.dropdown {

    > .menu::after {
      background: #1b1c1d;
    }
  }

  .ui.grid > .row {
    padding: 0.2em 0em;
  }


  .fa {
    margin-right: 5px;
  }

  i{
    font-size: 1.2em;
    line-height: 0.95em;

    &.facebook.icon {
      color: #475993 !important;
    }
    &.instagram.icon {
      color: #DE943F !important;
    }
    &.twitter.icon {
      color: #2795e9 !important;
    }
    &.youtube.icon {
      color: #dd4b39 !important;
    }
    &.google.icon {
      color: #dd4b39 !important;
    }
  }

}