
// Colors
// Body
$body-bg-color:#FFFFFF;
$body-font-color:rgba(0, 0, 0, 0.87);

//Font
$font-color: rgba(0, 0, 0, 0.87);
$secondary-font: rgba(0, 0, 0, 0.4);

//links Variables
$a-font-color:rgba(68, 68, 68, 1);
$a-hover-font-color:darken(rgba(68, 68, 68, 1), 30%);

//Basic
$red:#DB2828;
$orange:#F2711C;
$yellow:#FBBD08;
$olive:#B5CC18;
$green:#09d261;
$teal:#00B5AD;
$blue:#2185D0;
$violet:#6435C9;
$purple:#A333C8;
$pink:#E03997;
$brown:#A5673F;
$grey:#767676;
$white:#FFFFFF;
$inverted-label:rgba(255, 255, 255, 0.9);
$inverted-red:#FF695E;
$inverted-orange:#FF851B;
$inverted-yellow:#FFE21F;
$inverted-olive:#D9E778;
$inverted-green:#2ECC40;
$inverted-teal:#6DFFFF;
$inverted-blue:#54C8FF;
$inverted-violet:#A291FB;
$inverted-purple:#DC73FF;
$inverted-pink:#FF8EDF;
$inverted-brown:#D67C1C;
$inverted-grey:#DCDDDE;

//Variables
$semantic-success-green: #308330;
$semantic-success-green-border: #a3c293;
$semantic-success-green-color: #5e9e5e;
