﻿$gray: #c7c7c7;
$pink: #ff6e6f;
$bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.wishlist {
  &:not(.grid):not(.detail) {
    position: absolute;
    top: 3.5em;
    right: 2em;
  }

  &:not(.liked) {
    display: none;
  }

  &.detail {
    display: inline-block !important;
    margin-left: 1em;
    margin-top: 20px;
  }

  &[data-tooltip] {
    &:before {
      z-index: 4;
      margin-right: 25px;
      border: 0;
      box-shadow: none;
    }
  }

  &[data-tooltip] {
    &:after {
      z-index: 3;
      padding: 0.5rem;
      font-size: 12px;
      margin-right: 34px;
      border: 0;
      color: #333;
      display: none;
    }
  }

  /*.ui.icon {
        z-index: 99;
        position: absolute;
        top: .5rem;
        right: .5rem;
        margin: 0;
    }*/

  > .ui.button {
    box-shadow: none !important;
    background: #ffffff !important;

    .like-icon {
      width: 18px;
      height: 16px;
      display: inline-block;
      position: relative;
      font-size: 1.5rem;
      background: url('data:image/svg+xml;utf8,<svg width="21" height="18" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg"><title>heart-colored</title><path d="M10.101 4.417S8.895.207 5.111.207c-4.465 0-10.967 6.846 5.082 17.592C25.237 7.03 19.665.202 15.501.202c-4.162 0-5.4 4.215-5.4 4.215z" fill="#FF6E6F" fill-rule="evenodd"/></svg>')
        no-repeat center;
      background-size: 100%;
      animation: heartUnlike 0.25s $bezier both;
      filter: grayscale(100%);
      user-select: none;
    }
  }

  &.liked {
    display: block;

    > .ui.button {
      .like-icon {
        animation: heartPulse 0.25s $bezier both;
        filter: grayscale(0);

        [class^="heart-animation-"] {
          background: url('data:image/svg+xml;utf8,<svg width="21" height="18" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg"><title>heart-colored</title><path d="M10.101 4.417S8.895.207 5.111.207c-4.465 0-10.967 6.846 5.082 17.592C25.237 7.03 19.665.202 15.501.202c-4.162 0-5.4 4.215-5.4 4.215z" fill="#FF6E6F" fill-rule="evenodd"/></svg>')
            no-repeat center;
          background-size: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 14px;
          opacity: 0;

          &::before,
          &::after {
            content: "";
            background: inherit;
            background-size: 100%;
            width: inherit;
            height: inherit;
            display: inherit;
            position: relative;
            top: inherit;
            left: inherit;
            opacity: 0;
          }
        }

        .heart-animation-1 {
          animation: heartFloatMain-1 1s $bezier both;

          &::before,
          &::after {
            width: 12px;
            height: 10px;
            visibility: hidden;
          }

          &::before {
            opacity: 0.6;
            animation: heartFloatSub-1 1s 0.25s $bezier both;
          }

          &::after {
            animation: heartFloatSub-2 1s 0.15s $bezier both;
            opacity: 0.75;
          }
        }

        .heart-animation-2 {
          animation: heartFloatMain-2 1s 0.1s $bezier both;

          &::before,
          &::after {
            width: 10px;
            height: 8px;
            visibility: hidden;
          }

          &::before {
            animation: heartFloatSub-3 1s 0.25s $bezier both;
            opacity: 0.25;
          }

          &::after {
            animation: heartFloatSub-4 1s 0.15s $bezier both;
            opacity: 0.4;
          }
        }
      }
    }
  }

  .header {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
  }
}

.ui.card.produto:focus, .ui.card.produto:hover .wishlist-item.like-icon,
.wishlist-item.like-icon[data-in-list="true"],
.wishlist-item.like-icon[data-in-list="True"] {
  display: inherit !important;
  background-image: url(https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png) !important;
}

// Animations
@keyframes heartPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

@keyframes heartUnlike {
  50% {
    transform: scale(0.75);
  }
}

@keyframes heartFloatMain-1 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0);
  }

  50% {
    opacity: 1;
    transform: translate(0, -25px) rotate(-20deg);
  }
}

@keyframes heartFloatMain-2 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0) scale(0);
  }

  50% {
    opacity: 0.9;
    transform: translate(-10px, -38px) rotate(25deg) scale(1);
  }
}

@keyframes heartFloatSub-1 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }

  50% {
    visibility: visible;
    transform: translate(13px, -13px) rotate(30deg);
  }
}

@keyframes heartFloatSub-2 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }

  50% {
    visibility: visible;
    transform: translate(18px, -10px) rotate(55deg);
  }
}

@keyframes heartFloatSub-3 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }

  50% {
    visibility: visible;
    transform: translate(-10px, -10px) rotate(-40deg);
  }

  100% {
    transform: translate(-50px, 0);
  }
}

@keyframes heartFloatSub-4 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }

  50% {
    visibility: visible;
    transform: translate(2px, -18px) rotate(-25deg);
  }
}

.wishlistProduct {
  .header {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
  }

  .price {
    color: #2980b9;
    font-size: 18px;
    line-height: 20px;
  }

  .de-price-por {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;

    span {
      text-decoration: line-through;
    }
  }

  .parcelamento {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
  }

  .w-100 {
    width: 100%;
  }

  @media only screen and (max-width: 767px) {
    .text-center {
      text-align: center;
    }
  }
}

#ListProductWishList {
  @media only screen and (max-width: $mobile-bp) {
    text-align: center;
  }
}

#addWishListInCart,
#deleteAllProductsWishList {
  @media only screen and (max-width: $mobile-bp) {
    margin: 0 auto !important;
    display: block;
  }
}
