.car-marcas {
  .slick-slide {
    margin: 0px 10px;
  }
}

.produto {
  .thumbnails {
    .slick-list {
      @media screen and (min-width: $mobile-bp) {
        overflow: visible;
      }

      .slick-slide {
        border: 1px solid #dcdcdc !important;
        position: relative;
        height: 80px;
        overflow: hidden;

        @media screen and (max-width: $mobile-bp) {
          margin: 0 5px;
        }

        @media screen and (min-width: $mobile-bp) {
          margin-bottom: 10px;
        }

        img {
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.slick-slider {
  .slick-prev {
    left: 25px;
  }

  .slick-prev[dir="rtl"] {
    left: auto;
    right: 25px;
  }

  .slick-next {
    right: 25px;
  }

  .slick-next[dir="rtl"] {
    left: 25px;
    right: auto;
  }

  .slick-prev,
  .slick-next {
    @media screen and(max-width: $mobile-bp) {
      display: none;
    }

    opacity: 0.5;
    transition: 0.3s;
    z-index: 9;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 9;
    top: 40%;
    line-height: 35px;
    opacity: 1;
    width: 43px;
    outline: none;
    height: 50px;
    background: white;
    font-size: 0;
    border: none;
    box-shadow: 0px 0px 2px 1px #dcdcdc;
    border-radius: 3px;
    cursor: pointer;
    background-image: url(/assets/image/ico-arrow.png);
    background-position: center;
    background-repeat: no-repeat;

    @media screen and(max-width: $mobile-bp) {
      top: 35%;
    }

    &:hover,
    &:focus {
      opacity:0.9;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
    transform: rotate(180deg);
  }

  a {
    outline: none;
  }

  &.carBrands {

    .slick-prev,
    .slick-next {
      top: 0;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  @media screen and (max-width: $mobile-bp) {
    position: relative;
    bottom: 0;
  }

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;

        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
      font-size: 35px;
    }
  }
}

.brands {
  .slick-track {
    display: flex;

    .slick-slide[data-slick-index="1"] {
        order: 7!important;
    }
  }
}