@media only screen and (min-width: 1320px) {
    .ui.container {
        width: 1170px!important;
    }
}

.hideme {
    display: none !important;
}

.display {
    &.block.mra.mla {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    &.grid {
        display: grid !important;
    }

    &.block {
        display: block !important;
    }

    &.flex {
        display: flex !important;
    }
}

.inline-flex {
    display: inline-flex !important;
}

.inline-block {
    display: inline-block !important;
}

.no-pointer {
    cursor: default !important;
}

.both {
    clear: both;
}

.align-items {
    &.center {
        align-items: center;
    }
}
