﻿<div class="ui container fluid infoBar mobile-hide">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid computer only">
            <div class="row doubling five column">
                <div class="column">
                    <div class="icon_place">
                        <i class="shipping icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Frete Grátis</h3>
                        <p><small>FRETE GRÁTIS PARA CIDADE DE SÃO PAULO NAS COMPRAS A PARTIR DE R$ 300,00.</small></p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="credit card alternative icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Parcele suas compras</h3>
                        <p><small>PARCELE EM ATÉ 12X SUAS COMPRAS NO SITE.</small></p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="lock icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Compra Segura</h3>
                        <p><small>Loja com SSL e sistemas de proteção de suas informações.</small></p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="building outline icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Vendas Corporativas</h3>
                        <p>
                            (11) 4200-1309 / (11) 94329-7167<br /><small>
                            <a href="mailto:atendimento@neteletrica.com.br">atendimento@neteletrica.com.br</a>
                            </small>
                        </p>
                    </div>
                </div>
                
                <div class="column">
                    <div class="icon_place">
                        <i class="whatsapp outline icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>SAC</h3>
                        <p>(11) 4200-1309 / (11) 94329-7167 <br /><small>
                            Horário de Atendimento de Segunda a Sexta Feira das 08:00 as 18:00 hrs
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>