.landingpage { margin-bottom:50px; }
.landingpage p { line-height:1.8em !important; }
.landing-page .items { margin-top:50px; }
.horizontal.divider { margin:30px 0; }

@media(min-width:991px) {
	.landingpage .cards { opacity:0; }
	.landingpage .ui.four.cards>.card { width:75%; margin:auto; }
	.landingpage .ui.fluid.image { float:left; width:35%; margin-right:5%; }
	.landingpage .ui.horizontal.divider:after, .landingpage .ui.horizontal.divider:before { display:none; }
	.landingpage .ui.horizontal.divider.avaliacao { margin-top:70px; }
	.landingpage .ui.horizontal.divider.avaliacao, .landingpage .card.produto .content .info { position:relative; float:left; width:60%; text-align:left; }
	.landingpage .card.produto .content .info .sku-options, .landingpage .card.produto .content .info .botoes { opacity:1; position:relative; padding:0 }
	.landingpage .ui.card.produto:focus, .landingpage .ui.card.produto:hover { box-shadow:none !important; border:0 !important; }
	.landingpage .card.produto .info { -webkit-transform: translateY(-40px); transform: translateY(-40px); }
	.landingpage .card.produto .content .info .sku-options { width:60%; float:left; margin-top:20px; }
	.landingpage .card.produto .content .info .botoes { float:left; width:38%; margin-left:2%; display:none; }
}

@media(max-width:767px) {
	.ui.horizontal.divider h1:before, .ui.horizontal.divider h2:before, .ui.horizontal.divider h3:before, .ui.horizontal.divider h4:before, .ui.horizontal.divider h5:before, .ui.horizontal.divider h6:before { display:none; }
	.ui.horizontal.divider h1, .ui.horizontal.divider h2, .ui.horizontal.divider h3, .ui.horizontal.divider h4, .ui.horizontal.divider h5, .ui.horizontal.divider h6 { padding:0 !important; }
}