﻿<!-- Start -->
<script src="~/assets/js/manifest.js"></script>
<script src="~/assets/js/vendor.js"></script>
<script src="~/assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<!--GLOBAL-->
<script type="text/javascript">
    $(window).on('load', function(){

        function pop_up_captacao () {
            $("#mauticform_wrapper_popupcaptacao form").on('submit', function (e){
                e.preventDefault();

                $(this).find('input[type="submit"]').val('Aguarde...');

                let email = $(this).find('input[type="email"]').val();
                let formId = $(this).find('#mauticform_popupcaptacao_id').val();

                $.ajax({
                    type: "GET",
                    url: "https://dev.sandersdigital.com.br/catchleads/neteletrica.php",
                    data: { 
                        'email': email,
                        'formId': formId,
                    },
                    success: function(data)
                    {
                        $.cookie('popupcaptacao', 'active', { expires: 2 });
                        
                        $("#mauticform_wrapper_popupcaptacao form .column_1").fadeOut(300, function () {
                            setTimeout(function () {
                                $("#mauticform_wrapper_popupcaptacao form .column_2").fadeIn(300);
                            }, 300);
                        });
                    }
                });
            });

            if ($('#mauticform_wrapper_popupcaptacao').length) {
                if ($.cookie('popupcaptacao') === undefined) {
                    $('#mauticform_wrapper_popupcaptacao, #overlay').addClass('active');
                }
            }

            $('#mauticform_wrapper_popupcaptacao .close_pop_up, #overlay').on('click', function () {
                $.cookie('popupcaptacao', 'active', { expires: 1 });
                $('#mauticform_wrapper_popupcaptacao, #overlay').removeClass('active');
            });
        }
        pop_up_captacao();
        
        //menu
        var titlePag = $('h2.title').text();
        var listMenu = $('.menu-institucional ul li').length;
        var li = '';
        var liMob = "<li class='mob'><a>Menu Institucional</a></li>";

        $('.menu-institucional ul li a.active').removeClass('active');

        for(i = 1; i < 8; i++){
            li = $('.menu-institucional ul li:nth-child('+i+') a').text();
            
            if(titlePag == 'Frete Grátis São Paulo'){
                titlePag = 'Frete Grátis SP';
            }

            if(li == titlePag){
                $('.menu-institucional ul li:nth-child('+i+') a').addClass('active');
            }
        }

        $('.duvidas-frequentes .text li p').on('click', function(){   
            $(this).parents('li').toggleClass('open-text');
        });

        $('.close').on('click', function(){   
            $('.modal-fale-conosco').removeClass('active');
            $('body').css('overflow', 'initial');
            $('html').css('overflow', 'initial');
        });

        if(window.outerWidth <= 769){
            $('.menu-institucional ul').prepend(liMob);

            $('.menu-institucional ul').on('click', function(){   
                $('.menu-institucional ul').toggleClass('open-menu');
            });
        }
        
        
    });

    $(document).ready(function () {

        //ORDENA AS MARCAS
        $('.brands .slick-slide').each(function(a,el) {
            $(this).css('order', $(this).attr('data-slick-index'));
        });
        
        /*
        $.ajax({
            url: 'https://blog.neteletrica.com.br/wp-json/wp/v2/posts/?_embed',
            type: 'GET'
        }).done(function (data) {
            console.log(data);
            for (i = 0; i < data.length; i++) {
                var element = data[i];

                if ( element._embedded['wp:featuredmedia'] ) {
                    var image = element._embedded['wp:featuredmedia'][0].source_url;
                    console.log(image);
                }

                var content = '';
                content += '<li data-id="' + element.id + '">';
                content += '<figure><img src="' + image + '" alt="' + element.title.rendered + '"/></figure>';
                content += '<h3>' + element.title.rendered + '</h3>';
                content += '<a href="' + element.link + '" target="_blank">Leia mais ></a>';
                content += '</li>';

                $('#nosso_blog ul').append(content);
            }

            $('#nosso_blog ul').slick({
                autoplay: true,
                autoplaySpeed: 4000,
                infinite: false,
                arrows: false,
                dots: false,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [{
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });*/
    });

    function updateQuantidadeTopoCarrinho() {
        $.ajax({
            method: "GET",
            url: "@(Session["EventList"] != null ? "/EventList/TotalItensList" : "/Checkout/TotalItensCart")",
            data: {},
            cache: false,
            success: function (data) {
                $("#total_itens_card").text(data);
                if (data != "")
                    $("#MiniCartTitle").text("@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista") (" + data + ")")
            },
            onFailure: function (data) {
                    if (action == "plus") {
                        valorInput -= 1;
                    } else {
                        valorInput += 1;
                    }
                }
             });
    }
    updateQuantidadeTopoCarrinho();
</script>