﻿@model List<DomainCompany.Entities.CustomPage>

@foreach (var itemTitle in Model)
{
    <div class="sixteen wide tablet eight wide computer column">
        <div class="toggle">
            <p class="title">@itemTitle.Name</p>
            <ul>
                @foreach (var itemPage in itemTitle.CustomPagesContent)
                {
                    <li><a href="/institucional/@itemTitle.IdCustomPage/@itemPage.IdCustomPageContent" title="@itemPage.Name">@itemPage.Name</a></li>
                }
                @if (@itemTitle.Name == "Dúvidas")
                {
                    <li><a href="@Url.Action("CommonQuestions", "Company")" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
                }
                @if (@itemTitle.Name == "Institucional")
                {
                    <li><a href="http://blog.neteletrica.com.br/" title="Blog" target="_blank">Blog</a></li>
                }
            </ul>
        </div>
    </div>
}