@model IList<DomainProduct.Entities.Brand>

@if (Model != null && Model.Count() > 0)
{
    <div class="ui container fluid topsellers">
        <div class="ui container">
            <div class="ui equal width grid images middle aligned center aligned stackable slideshow carBrands" data-qtd="6">
                @foreach (var brand in Model)
                {
                    if(brand.Name == 'FORCELINE') {
                        <div class="column teste hideme">
                            <a href="@brand.UrlFriendly" title="@brand.Name">
                                <img class="ui image centered brands" src="@brand.Logo" alt="@brand.Name" title="@brand.Name" onerror="imgError(this)">
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="ui divider hidden"></div>
        </div>
    </div>
}
