﻿@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<div id="overlay"></div>

<!-- POP UP - ORÇAMENTO -->
<div id="send_orcamento" class="hideme">
    <div class="column_1">
        <p>Solicite seu orçamento</p>
    </div>

    <div class="column_2">
        <form>
            <fieldset>
                <label>
                    <strong>Nome:<i>*</i></strong> 
                    <input type="text" name="nome" placeholder="Digite seu nome completo" required />
                </label>

                <label>
                    <strong>E-mail:<i>*</i></strong>
                    <input type="email" name="email" required />
                </label>

                <label>
                    <strong>Telefone:<i>*</i></strong>
                    <input type="tel" name="telefone" placeholder="(00) 0000-0000" required /> 
                </label>

                 <label>
                    <strong>CPF/ CNPJ:</strong>
                    <input type="tel" name="documento" />
                </label>

                <label>
                    <strong>Descreva seu orçamento:</strong>
                    <textarea name="mensagem" required></textarea>
                </label>

                <label>
                    <!-- ID DO ORÇAMENTO -->
                    <input type="number" name="id" class="hideme" readonly />
                </label>

                <input type="submit" value="ENVIAR" />
            </fieldset>
        </form>
    </div>
</div>

<script>
function rollDice(){
   let id = Math.floor(Math.random()*9999)+1;
   $('#send_orcamento form input[name="id"]').val(id);
} rollDice();

$('#send_orcamento form').submit(function(){
    $.ajax({
        url: 'https://dev.sandersdigital.com.br/neteletrica/send_orcamento.php',
        method: 'POST',
        data: $('#send_orcamento form').serialize(),
        success: function(data){
            console.log(data);
        }
    });
    return false;
});
</script>
<!-- FIM - POP UP - ORÇAMENTO -->

<div class="fluid box_newsletter">
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide tablet sixteen wide computer column">
                <div class="form_contact">
                    <div class="column_1">
                        <img src="/assets/image/ico-mail.png" class="mobile-hide" alt="Cadastre-se e receba todas as nossas novidades e promoções." />

                        <p>
                            <span>Cadastre-se!</span>
                            <small>Receba todas as nossas novidades e promoções!</small>
                        </p>
                    </div>

                    <div class="column_2">
                        <input type="text" placeholder="Digite seu email" id="email_news">
                        <button id="btn_news">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="row-1">
        <div class="ui container fluid">
            <div class="ui container">
                <div class="ui grid footer-menu">
                    <div class="sixteen wide tablet three wide computer column">
                        <div class="toggle">
                            <p class="title">Categorias</p>
                            <ul>
                                <li><a href="/categoria/eletrica">Elétrica</a></li>
                                <li><a href="/categoria/iluminacao">Iluminação</a></li>
                                <li><a href="/categoria/maquinas">Máquinas</a></li>
                                <li><a href="/categoria/pintura">Pintura</a></li>
                                <li><a href="/categoria/hidraulica">Hidráulica</a></li>
                                <li><a href="/categoria/jardinagem">Jardinagem</a></li>
                                <li><a href="/categoria/seguranca">Segurança</a></li>
                                <li><a href="/categoria/ferragens">Ferragens</a></li>
                                <li><a href="/categoria/liquidacao">Liquidação</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sixteen wide tablet six wide computer column no-padding">
                        <div class="ui grid">
                            @Html.Action("CustomPages", "Home")
                        </div>
                    </div>

                    <div class="sixteen wide tablet three wide computer column">
                        <div class="toggle">
                            <p class="title">Relacionamento</p>
                            <ul>
                                <li>
                                    <p>
                                        Whatsapp:
                                        <a href="https://api.whatsapp.com/send?phone=5511943297167">(11) 94329-7167</a>
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        SAC:
                                        <a href="tel:1142001309">@LojaCorp.Control.Company._Company.Phone1</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sixteen wide tablet two wide computer column midias">
                        <p class="title">Siga a Net Elétrica</p>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/neteletrica" target="_blank">
                                    <img src="/assets/image/logo/ico-facebook.png" alt="Facebook" />
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/neteletrica" target="_blank">
                                    <img src="/assets/image/logo/ico-instagram.png" alt="Instagram" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <div class="row-2">
        <div class="ui container fluid">
            <div class="ui container">
                <div class="ui grid footer-infos-gerais">
                    <div class="sixteen wide tablet six wide computer column no-padding">
                        <p class="title">Formas de Pagamento</p>
                        @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                    </div>

                    <div class="sixteen wide tablet six wide computer column no-padding">
                        <p class="title">Segurança</p>
                        <ul class="selos">
                            @Html.Action("EBit", "Company")

                            @Html.Action("GetCompanySeal", "Company")
                            @*
                                <li class="item">
                                    <img src="//assets.pagseguro.com.br/ps-integration-assets/banners/seguranca/seguranca_125x125.gif" alt="Banner PagSeguro" title="Compre com PagSeguro e fique sossegado">
                                </li>
                            *@
                        </ul>
                    </div>

                    <div class="sixteen wide tablet four wide computer column no-padding">
                        <p class="title">Tecnologia/Implantação</p>
                        <ul>
                            <li>
                                <a href="https://www.jetecommerce.com.br/" target="_blank">
                                    @Html.Partial("Common/_JetLogo")
                                </a>
                            </li>
                            
                            <li>
                                <a href="https://www.sandersdigital.com.br/" target="_blank">
                                    <img src="/assets/image/logo/ico-sanders.png" alt="Sanders Digital" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-3 copyright">
        <p>
            @{
                string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
            }
            @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
            @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
            CNPJ: @LojaCorp.Control.Company._Company.CNPJ
        </p>
    </div>
</footer>