﻿<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>@(string.IsNullOrEmpty(ViewBag.Title) ? LojaCorp.Control.Company._Company.Title : ViewBag.Title)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="RrgdVHHoaIqiuP66THCL-Dl77RFhIAUYLKqPitC1EbU" />
<meta name="google-site-verification" content="Pj1wGCYBxhRXu21iCVnlwEkEGNK9ojyCG7s46dEoa6E" />
<link rel="apple-touch-icon" sizes="57x57" href="~/assets/image/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="~/assets/image/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/assets/image/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/assets/image/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/assets/image/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/assets/image/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/assets/image/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/assets/image/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/assets/image/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="~/assets/image/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/assets/image/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="~/assets/image/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/assets/image/favicon/favicon-16x16.png">
<link rel="manifest" href="~/assets/image/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="~/assets/image/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

@{
string urlCanonical = Request.Url.AbsolutePath.ToLower();
string canonical = !Request.Url.AbsoluteUri.Contains("www") ? "https://www." + Request.Url.Host + Request.Path : "https://" + Request.Url.Host + Request.Path;

string[] words = urlCanonical.Split('/');

if (words[1] == "" || words[1].ToLower() == "home")
{
<link rel="canonical" href="https://www.@Request.Url.Host"/>
}
else
{
<link rel="canonical" href="@canonical"/>
}
} 

@Html.Partial("Common/_SEO")

<script type="text/javascript">
    window.onload = function () {
        var svr = document.createElement("div");
        svr.setAttribute("type", "hidden");
        svr.setAttribute("id", "svr");
        svr.setAttribute("value", "@Context.Server.MachineName");

        document.body.appendChild(svr);
    }

    (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
        w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
        m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://neteletrica.mysanders.com.br/mtc.js','mt');

    mt('send', 'pageview');
</script>

<script src="//neteletrica.mysanders.com.br/focus/1.js" type="text/javascript" charset="utf-8" async="async"></script>

<!-- Start of Conectiva.io -->
<script type="text/javascript" id="xengine" async src="//conectiva.io/XEngine/loader.js"></script>

<!-- Start of CartStack API Script -->
<script src="//app.cartstack.com.br/activeAPI/load.js" async type="text/javascript"></script>
