﻿@model List<DomainProduct.Entities.Category>

<!-- <div class="ui container fluid menuheader"> -->
<div class="menuheader">
    <div class="overlapblackbg"></div>
    <div class="ui container">
        <div class="wsmobileheader clearfix">
            <a id="wsnavtoggle"><span></span><span></span><span></span></a>
        </div>
        <div class="wsmain">
            <nav class="wsmenu">
                <div class="ui mobile only titleMenu">Navegue pela loja</div>
                <ul class="mobile-sub wsmenu-list ui menu">
                    @foreach (DomainProduct.Entities.Category category in Model)
                    {
                        if (category.Level.Length == 2)
                        {
                            <li>
                                <a href="@category.UrlFriendly" class="item" title="@category.Name">
                                    <span></span>
                                    @category.Name
                                    <!--@if (category.ChildCategories != null && category.ChildCategories.Any())
                                    {<i class="dropdown icon"></i>}-->
                                </a>
                                @if (category.ChildCategories != null && category.ChildCategories.Any())
                                {
                                    <div class="megamenu clearfix">
                                        <a href="" class="desktop-hide go_back">< Voltar</a>
                                        <div class="ui grid">
                                            <div class="row">
                                                <div class="@(category.Image == null ? "sixteen wide computer column" : "fifteen wide mobile twelve wide tablet twelve wide computer column")">
                                                    <div class="ui grid three column">
                                                        @if (category.ChildCategories != null && category.ChildCategories.Any())
                                                        {
                                                            foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories)
                                                            {
                                                                <div class="li-item sixteen wide mobile eight wide tablet four wide computer column">
                                                                    <div class="ui list relaxed">
                                                                        <a href="@subCategoryLevel1.UrlFriendly" title="@subCategoryLevel1.Name">@subCategoryLevel1.Name</a>
                                                                        @*if (subCategoryLevel1.ChildCategories != null && subCategoryLevel1.ChildCategories.Any())
                                                                        {
                                                                            <div class="ui divider"></div>
                                                                            foreach (var subCategoryLevel2 in subCategoryLevel1.ChildCategories)
                                                                            {
                                                                                <a class="item" href="@subCategoryLevel2.UrlFriendly" title="@subCategoryLevel2.Name">@subCategoryLevel2.Name</a>
                                                                            }
                                                                        }*@
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                @if (category.Image != null)
                                                {
                                                    <div class="four wide tablet four wide computer column mobile-hide">
                                                        @{
                                                            string linkCategoriaImagem = null;
                                                            if (category.Link != null)
                                                            {
                                                                linkCategoriaImagem = @category.Link;
                                                            }
                                                            else
                                                            {
                                                                linkCategoriaImagem = @category.UrlFriendly;
                                                            }
                                                        }
                                                        <a href="@linkCategoriaImagem" title="@category.Image" title="@category.Name">
                                                            <img class="ui image" src="@category.Image" alt="@category.Name" title="@category.Name"/>
                                                        </a>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="item" href="~/category/index/@category.IdCategory" title="@category.Name"><span>@category.Name</span></a>
                            </li>
                        }
                    }
                </ul>

                <div class="menu_apoio desktop-hide">
                    <p>
                        <strong>SAC/ Vendas Corporativas</strong>
                        <small>(11) 4200-1309 / (11) 94329-7167</small>
                    </p>

                    <p>Atendimento de Seg. à Sexta<br/>das 08:00 às 17:00</p>

                    <a href="https://api.whatsapp.com/send?phone=5511943297167" class="call_whatsapp">Nos chame no Whatsapp</a>

                    <ul>
                        <li><a href="/customer">Entrar/ Cadastrar</a></li>
                        <li><a href="/Order/Index">Meus Pedidos</a></li>
                        <li><a href="/customer/logout">Sair</a></li>
                    </ul>
                </div>
            </nav>

            <span class="close_menu"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve"><g><path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88 c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242 C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879 s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
        </div>
    </div>
</div>