﻿@model List<DomainSocialNetwork.Entities.SocialNetwork>

@if (Model != null)
{
    <div class="column eight wide margin top large">
        <h4 class="ui header">Permaneça conectado <i class="ui icon chevron right mobile only"></i></h4>
        <div class="ui link list">
            <socialbar>

                @foreach (var social in Model)
                {
                    if (social.Identifier.ToUpper() == "WHATSAPP")
                    {
                        <a href="@string.Format("{0}{1}", "https://api.whatsapp.com/send?phone=55", social.Content.Replace("(", "").Replace(")", "").Replace("-", "").Replace(" ", ""))" target="_blank" title="@social.Identifier">
                            <i class="@social.Identifier icon"></i>
                        </a>
                    }
                    else
                    {
                        <a href="@social.Content" target="_blank" title="@social.Identifier ">
                            <i class="@social.Identifier icon"></i>
                        </a>
                    }
                }
            </socialbar>
        </div>
    </div>
}


