﻿<div class="ui container fluid topbar" id="top_bar" style="display:none">
    <div class="ui container">
        <div class="ui grid middle aligned inverted">
            <div class="one column row">
                @*Html.Action("SocialBar", "SocialNetwork")*@
                <div class="ui right floated right aligned column">                    
                    <div class="ui horizontal list relaxed divided">

                        @if ((Session["UserAuthenticated"] == null || (Convert.ToBoolean(Session["Guest"]) == true)) && Session["Seller"] == null)
                        {
                            <div class="item">
                                <a href="/customer" title="MINHA CONTA">
                                    MINHA CONTA
                                </a>
                            </div>
                            
                            <div class="item">
                                <a href="/Customer/AccessKey" title="CADASTRE-SE">
                                    CADASTRE-SE
                                </a>
                            </div>
                        }
                        @if ((Session["UserAuthenticated"] != null) && (Convert.ToBoolean(Session["Guest"]) == false))
                        {
                            var userAuthenticated = (DomainCustomer.Entities.Customer)Session["UserAuthenticated"];

                            Char delimiter = ' ';
                            String[] nickName = userAuthenticated.Name.Split(delimiter);

                            <div class="ui inline item dropdown pointing top right">
                               
                                Olá <strong id="userNameCommon">@nickName[0] <i class="icon angle down"></i></strong>
                                <div class="menu">
                                    <a href="/customer" class="item" title="Minha Conta"><i class="options icon"></i>Minha Conta</a>
                                    <a href="/order" class="item" title="Meus Pedidos"><i class="shopping bag icon"></i>Meus Pedidos</a>
                                    <a href="/customer/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
                                </div>
                            </div>
                        }
                        else if ((Session["Seller"] != null))
                        {
                            var userAuthenticated = (DomainAssistedSale.Entities.Seller)Session["Seller"];

                            Char delimiter = ' ';
                            String[] nickName = userAuthenticated.Name.Split(delimiter);

                            <div class="ui inline item dropdown pointing top right">
                                <div class="text regular black">
                                    <i class="rocket icon regular"></i>
                                    <span class="text">Olá <span title="@userAuthenticated.Name.ToString()" id="userNameCommon">@nickName[0]</span></span>
                                </div>
                                <div class="menu">
                                    <a href="/assistedsale" class="item" title="Minha Conta"><i class="options icon"></i>Meus Clientes</a>
                                    <a href="/assistedsale/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
                                </div>
                            </div>
                        }
                        else if ((Session["Seller"] == null))
                        {
                            <!--<div class="item">
                                <a href="/assistedsale" title="Venda Assistida">
                                    Venda Assistida
                                </a>
                            </div>-->
                        }
                        @if((Session["Seller"] == null)) {
                            @Html.Action("B2BIsActived", "Company", null)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>