﻿@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<div class="ui container fluid vertical segment footer">
    <div class="ui container">
        <div class="ui four column stackable inverted equal height grid">
            <div class="ten wide table six wide computer column">
                <div class="ui grid stackable">
                    <div class="row two column no padding">
                        @Html.Action("CustomPages", "Home")
                    </div>
                </div>
            </div>

            <div class="six wide tablet four wide computer column">
                <div class="ui grid stackable">
                    <div class="row one column no padding">
                        @Html.Action("GetList", "EventList")

                        <div class="column">
                            <span class="ui inverted header">Central de Relacionamento</span>
                            <p>Preparada para esclarecer suas dúvidas e problemas.</p>
                            <span class="phoneSac">SAC: @LojaCorp.Control.Company._Company.Phone2</span>

                            <a href="/fale-conosco" class="ui button text uppercase fluid tireDuvidas" title="Tire suas Dúvidas">Tire suas dúvidas</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="sixteen wide mobile sixteen wide tablet six wide computer column left aligned">
                <div class="ui grid stackable">
                    <div class="row two column no padding">
                        <div class="column eight wide tablet sixteen wide computer margin bottom large">
                            <span class="ui inverted header">Siga nos</span>
                            <socialbar>

                                @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
                                        <i class="facebook icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
                                        <i class="instagram icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                                        <i class="twitter icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                                        <i class="youtube icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "google plus") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
                                        <i class="google plus icon"></i>
                                    </a>
                                }



                            </socialbar>
                        </div>
                        <div class="column eight wide tablet sixteen wide computer margin bottom large">
                            <span class="ui inverted header">Newsletter</span>
                            <p>Cadastre seu e-mail e receba novidades e promoções.</p>
                            <div class="ui form">
                                <div class="inline field">
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" placeholder="seu@email.com.br" id="email_news">
                                        <button class="ui button inverted white" id="btn_news">
                                            Cadastrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container fluid vertical subFooter">
    <div class="ui container">
        <div class="ui three column grid">
            <div class="row stackable">
                <div class="column text small textoEmpresa">
                    <strong>@LojaCorp.Control.Company._Company.FantasyName</strong>
                    <address>
                        @{
                            string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                        }
                        @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood)
                        <br>
                        @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State)
                        <br>
                        @LojaCorp.Control.Company._Company.CNPJ
                    </address>
                </div>
                <div class="column text center middle aligned">
                    @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                </div>
                <div class="right aligned column">
                    @* Page: ~/Views/Company/_EBit.cshtml *@
                    <div class="ui tiny images">
                        @Html.Partial("Common/_JetLogo")
                        @Html.Action("EBit", "Company")
                        @Html.Action("GetCompanySeal", "Company")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-block">

</div>

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic&subset=latin,latin-ext">


<!-- Hotjar Tracking Code for https://www.neteletrica.com.br/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1077101,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
